LocaleElements.dtd

<!ELEMENT localeData ( identity,(alias |(localeDisplayNames?, layout?, characters?, delimiters?, measurement?, dates?, numbers?, collations?, special*))) >
<!ATTLIST localeData
   version          CDATA              #FIXED "1.0"
>
<!-- ######################################################### -->
<!ELEMENT identity (alias | (version, generation, language, script?, territory?, variant?, special*) ) >

<!ELEMENT version ( #PCDATA ) >
<!ATTLIST version number NMTOKEN #REQUIRED >

<!ELEMENT generation EMPTY >
<!ATTLIST generation date NMTOKEN #REQUIRED >

<!ELEMENT language ( #PCDATA ) >
<!ATTLIST language type NMTOKEN #REQUIRED >

<!ELEMENT territory ( #PCDATA ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >

<!ELEMENT variant ( #PCDATA ) >
<!ATTLIST variant type NMTOKEN #REQUIRED >

<!ELEMENT cp (special*) >
<!ATTLIST cp hex NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT localeDisplayNames (alias | (languages?, scripts?, territories?, variants?, keys?, types?, special*)) >

<!-- Either 1 alias OR any specials, any order, zero or more script -->
<!ELEMENT scripts (alias |(script | special)* ) >

<!ELEMENT script ( #PCDATA ) >
<!ATTLIST script type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more language -->
<!ELEMENT languages ( alias | (language | special)* ) >

<!-- Either 1 alias OR any specials, any order, zero or more territory -->
<!ELEMENT territories ( alias | (territory | special)*) >

<!-- Either 1 alias OR any specials, any order, zero or more variant -->
<!ELEMENT variants ( alias |(variant | special)*  ) >

<!-- Either 1 alias OR any specials, any order, zero or more key -->
<!ELEMENT keys ( alias | (key | special)*) >

<!ELEMENT key ( #PCDATA ) >
<!ATTLIST key type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more type -->
<!ELEMENT types ( alias | (type | special)* ) >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST type type NMTOKEN #REQUIRED >
<!ATTLIST type key NMTOKEN #IMPLIED >
<!-- ######################################################### -->


<!-- ######################################################### -->
<!ELEMENT layout ( alias | (orientation, special*) ) >

<!ELEMENT orientation ( special* ) >
<!ATTLIST orientation characters ( left-to-right | right-to-left ) "left-to-right" >
<!ATTLIST orientation lines ( top-to-bottom | bottom-to-top ) "top-to-bottom" >

<!-- ######################################################### -->


<!-- ######################################################### -->
<!ELEMENT characters (alias | (exemplarCharacters?, mapping*, special*))  >

<!ELEMENT exemplarCharacters ( #PCDATA | cp )* >

<!ELEMENT mapping (special*) >
<!ATTLIST mapping registry NMTOKEN #REQUIRED >
<!ATTLIST mapping type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT delimiters (alias | (quotationStart?, quotationEnd?, alternateQuotationStart?, alternateQuotationEnd?, special*)) >

<!ELEMENT quotationStart ( #PCDATA | cp )* >

<!ELEMENT quotationEnd ( #PCDATA | cp )* >

<!ELEMENT alternateQuotationStart ( #PCDATA | cp )* >

<!ELEMENT alternateQuotationEnd ( #PCDATA | cp )* >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT measurement (alias | (measurementSystem?, paperSize?, special*)) >

<!ELEMENT paperSize (alias | (height?, width?, special*)) >

<!ELEMENT height ( #PCDATA ) >

<!ELEMENT width ( #PCDATA ) >

<!ELEMENT measurementSystem (special*) >
<!ATTLIST measurementSystem type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT dates (alias | (localizedPatternChars?, calendars?, timeZoneNames?, special*)) >

<!ELEMENT localizedPatternChars ( #PCDATA | cp )* >

<!ELEMENT calendars (alias | (default?, calendar*, special*)) >

<!ELEMENT calendar (alias | (monthNames?, monthAbbr?, dayNames?, dayAbbr?, week?, am?, pm?, eras?, dateFormats?, timeFormats?, dateTimeFormats?, special*))>
<!ATTLIST calendar type NMTOKEN #REQUIRED >

<!ELEMENT monthNames ( alias | (month*, special*)) >

<!ELEMENT month ( #PCDATA | cp )* >
<!ATTLIST month type ( 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 ) #REQUIRED >

<!ELEMENT monthAbbr ( alias | (month*, special*)) >

<!ELEMENT dayNames ( alias | (day*, special*)) >

<!ELEMENT day ( #PCDATA ) >
<!ATTLIST day type ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >

<!ELEMENT dayAbbr ( alias | (day*, special*)) >

<!ELEMENT week   (alias | (minDays?, firstDay?, weekendStart?, weekendEnd?, special*)) >

<!ELEMENT minDays (special*) >
<!ATTLIST minDays count NMTOKEN #REQUIRED >

<!ELEMENT firstDay (special*) >
<!ATTLIST firstDay day NMTOKEN #REQUIRED >

<!ELEMENT weekendStart (special*) >
<!ATTLIST weekendStart day NMTOKEN #REQUIRED >
<!ATTLIST weekendStart time CDATA "00:00" >

<!ELEMENT weekendEnd (special*) >
<!ATTLIST weekendEnd day NMTOKEN #REQUIRED >
<!ATTLIST weekendEnd time CDATA "00:00" >

<!ELEMENT am ( #PCDATA ) >

<!ELEMENT pm ( #PCDATA ) >

<!ELEMENT eras   (alias | (eraNames?, eraAbbr?, special*)) >

<!ELEMENT eraNames ( alias | (era*, special*) ) >

<!ELEMENT eraAbbr ( alias | (era*, special*) ) >

<!ELEMENT era (#PCDATA) >
<!ATTLIST era type NMTOKEN #REQUIRED >

<!ELEMENT dateFormats (alias | (default?, dateFormatLength*, special*)) >

<!ELEMENT dateFormatLength (alias | (default?, dateFormat*, special*)) >
<!ATTLIST dateFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT dateFormat (alias | (pattern?, displayName?, special*))  >
<!ATTLIST dateFormat type NMTOKEN "standard">

<!ELEMENT displayName ( #PCDATA ) >

<!ELEMENT timeFormats (alias | (default?, timeFormatLength*, special*)) >

<!ELEMENT timeFormatLength (alias | (default?, timeFormat*, special*)) >
<!ATTLIST timeFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT timeFormat (alias | (pattern?, displayName?, special*)) >
<!ATTLIST timeFormat type NMTOKEN "standard" >

<!ELEMENT dateTimeFormats (alias | (default?, dateTimeFormatLength*, special*)) >

<!ELEMENT dateTimeFormatLength (alias | (default?, dateTimeFormat*, special*)) >
<!ATTLIST dateTimeFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT dateTimeFormat (alias | (pattern?, displayName?, special*)) >
<!ATTLIST dateTimeFormat type NMTOKEN "standard"  >

<!ELEMENT timeZoneNames (alias | (default?, zone*, special*)) >

<!ELEMENT zone (alias | ( long?, short?, exemplarCity?, special*)) >
<!ATTLIST zone type CDATA #REQUIRED >

<!ELEMENT long (alias | (generic?, standard?, daylight?, special*)) >

<!ELEMENT generic ( #PCDATA ) >

<!ELEMENT standard ( #PCDATA ) >

<!ELEMENT short (alias | (generic?, standard?, daylight?, special*)) >

<!ELEMENT daylight ( #PCDATA ) >

<!ELEMENT exemplarCity ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT numbers (alias | (symbols?, decimalFormats?, scientificFormats?, percentFormats?, currencyFormats?, currencies?, special*)) >

<!ELEMENT symbols (alias | (decimal?, group?, list?, percentSign?, nativeZeroDigit?, patternDigit?, plusSign?, minusSign?, exponential?, perMille?, infinity?, nan?, special*)) >

<!ELEMENT decimal ( #PCDATA ) >

<!ELEMENT group ( #PCDATA ) >

<!ELEMENT list ( #PCDATA ) >

<!ELEMENT percentSign ( #PCDATA ) >

<!ELEMENT nativeZeroDigit ( #PCDATA ) >

<!ELEMENT patternDigit ( #PCDATA ) >

<!ELEMENT plusSign ( #PCDATA ) >

<!ELEMENT minusSign ( #PCDATA ) >

<!ELEMENT exponential ( #PCDATA ) >

<!ELEMENT perMille ( #PCDATA ) >

<!ELEMENT infinity ( #PCDATA ) >

<!ELEMENT nan ( #PCDATA ) >

<!ELEMENT pattern ( #PCDATA ) >
<!ATTLIST pattern type NMTOKEN "standard" >

<!ELEMENT decimalFormats (alias | (default?, decimalFormatLength*, special*)) >

<!ELEMENT decimalFormatLength (alias | (default?, decimalFormat*, special*)) >
<!ATTLIST decimalFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT decimalFormat (alias | (pattern*, special*)) >
<!ATTLIST decimalFormat type NMTOKEN "standard" >

<!ELEMENT scientificFormats (alias | (default?, scientificFormatLength*, special*)) >

<!ELEMENT scientificFormatLength (alias | (default?, scientificFormat*, special*)) >
<!ATTLIST scientificFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT scientificFormat (alias | (pattern*, special*)) >
<!ATTLIST scientificFormat type NMTOKEN "standard" >

<!ELEMENT percentFormats (alias | (default?, percentFormatLength*, special*)) >

<!ELEMENT percentFormatLength (alias | (default?, percentFormat*, special*)) >
<!ATTLIST percentFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT percentFormat (alias | (pattern*, special*)) >
<!ATTLIST percentFormat type NMTOKEN "standard" >

<!ELEMENT currencyFormats (alias | (default?, currencyFormatLength*, special*)) >

<!ELEMENT currencyFormatLength (alias | (default?, currencyFormat*, special*)) >
<!ATTLIST currencyFormatLength type ( full | long | medium | short ) #REQUIRED >

<!ELEMENT currencyFormat (alias | (pattern*, special*)) >
<!ATTLIST currencyFormat type NMTOKEN "standard" >

<!ELEMENT currencies (alias | (default?, currency*, special*)) >

<!ELEMENT currency (alias | (displayName, symbol, decimal*, group*, special*)) >
<!ATTLIST currency id NMTOKEN #IMPLIED >
<!ATTLIST currency type NMTOKEN "standard" >

<!ELEMENT symbol ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT collations (alias | (default?, collation*, special*)) >
<!ATTLIST collations version NMTOKEN #REQUIRED >

<!ELEMENT collation (alias | (settings?, suppress_contractions?, optimize?, rules?, special*)) >
<!ATTLIST collation type NMTOKEN "standard" >

<!ELEMENT settings (special*) >
<!ATTLIST settings caseLevel NMTOKEN #IMPLIED >
<!ATTLIST settings alternate NMTOKEN #IMPLIED >
<!ATTLIST settings backwards NMTOKEN #IMPLIED >
<!ATTLIST settings normalization NMTOKEN #IMPLIED >
<!ATTLIST settings caseFirst NMTOKEN #IMPLIED >
<!ATTLIST settings hiraganaQuarternary NMTOKEN #IMPLIED >
<!ATTLIST settings strength NMTOKEN #IMPLIED >
<!ATTLIST settings numeric NMTOKEN #IMPLIED >

<!ELEMENT suppress_contractions (  #PCDATA | cp )* >

<!ELEMENT optimize ( #PCDATA | cp )* >

<!ELEMENT rules (alias | (( reset | p | pc |  s | sc | t | tc | q | qc | i | ic)*, special*)) >

<!ELEMENT p  ( #PCDATA | context | cp | last_variable | extend )* >

<!ELEMENT pc ( #PCDATA | context | cp | last_variable | extend )*  >

<!ELEMENT s  ( #PCDATA | context | cp | last_variable | extend )*  >

<!ELEMENT sc ( #PCDATA | context | cp | last_variable | extend )*  >

<!ELEMENT t  ( #PCDATA | context | cp | last_variable | extend )*  >

<!ELEMENT tc ( #PCDATA | context | cp | last_variable | extend )*  >

<!ELEMENT q  ( #PCDATA | context | cp | last_variable | extend )*  >

<!ELEMENT qc ( #PCDATA | context | cp | last_variable | extend )*   >

<!ELEMENT i  ( #PCDATA | context | cp | last_variable | extend )*   >

<!ELEMENT ic ( #PCDATA | context | cp | last_variable | extend )*  >

 <!ELEMENT extend ( #PCDATA | cp )* >

<!ELEMENT reset ( #PCDATA | cp  | first_variable| last_variable | first_tertiary_ignorable | last_tertiary_ignorable | first_secondary_ignorable | last_secondary_ignorable | first_primary_ignorable | last_primary_ignorable | first_non_ignorable | last_non_ignorable | first_trailing | last_trailing )* >
<!ATTLIST reset before NMTOKEN #IMPLIED >

<!ELEMENT first_variable EMPTY >
<!ELEMENT last_variable EMPTY >
<!ELEMENT first_tertiary_ignorable EMPTY >
<!ELEMENT last_tertiary_ignorable EMPTY >
<!ELEMENT first_secondary_ignorable EMPTY >
<!ELEMENT last_secondary_ignorable EMPTY >
<!ELEMENT first_primary_ignorable EMPTY >
<!ELEMENT last_primary_ignorable EMPTY >
<!ELEMENT first_non_ignorable EMPTY >
<!ELEMENT last_non_ignorable EMPTY >
<!ELEMENT first_trailing EMPTY >
<!ELEMENT last_trailing EMPTY >

<!ELEMENT context (  #PCDATA ) >



<!-- ######################################################### -->


<!-- These elements are common to all elements defined above -->
<!-- ######################################################### -->

<!ELEMENT alias  (special*) >
<!ATTLIST alias source NMTOKEN #REQUIRED >
<!ATTLIST alias type NMTOKEN #REQUIRED >

<!ELEMENT default (special*) >
<!ATTLIST default type CDATA #REQUIRED >

<!ELEMENT special ANY >
<!ATTLIST special formatindex NMTOKEN #IMPLIED >
<!ATTLIST special msgtype NMTOKEN #IMPLIED >
<!ATTLIST special owner CDATA #REQUIRED >
<!ATTLIST special usage NMTOKEN #IMPLIED >
<!ATTLIST special version NMTOKEN #IMPLIED >
<!ATTLIST special default NMTOKEN #IMPLIED>
<!ATTLIST special type NMTOKEN #IMPLIED>
<!ATTLIST special unoid NMTOKEN #IMPLIED>

<!-- ######################################################### -->


<!--  ICU Specific elements                                    -->
<!-- ######################################################### -->

<!-- RBNF data -->
<!ELEMENT ruleBasedNumberFormats ( alias | (ruleBasedNumberFormat*,  special*)) >

<!-- Either bare data or any number of cp -->
<!ELEMENT ruleBasedNumberFormat (#PCDATA | cp)* >
<!ATTLIST ruleBasedNumberFormat type NMTOKEN #REQUIRED >

<!-- RBBI data -->
<!ELEMENT boundaries (alias | (grapheme?, word?, line?, sentence?, special*)) >

<!ELEMENT grapheme ( #PCDATA ) >
<!ATTLIST grapheme class NMTOKEN #REQUIRED >
<!ATTLIST grapheme append NMTOKEN #REQUIRED >

<!ELEMENT word ( #PCDATA ) >
<!ATTLIST word class NMTOKEN #REQUIRED >
<!ATTLIST word import NMTOKEN #REQUIRED >

<!ELEMENT line ( #PCDATA ) >
<!ATTLIST line class NMTOKEN #REQUIRED >


<!ELEMENT sentence ( #PCDATA ) >
<!ATTLIST sentence class NMTOKEN #REQUIRED >

<!-- RBT data  -->
<!ELEMENT transforms ( alias | (transform*, special*)) >
<!ELEMENT transform ( #PCDATA ) >
<!ATTLIST transform type NMTOKEN #REQUIRED >

<!-- ######################################################### -->



<!--  OpenOffice.org Specific elements                         -->
<!-- ######################################################### -->

<!-- Either 1 alias OR any specials, any order, zero or more numberingLevel -->
<!ELEMENT numberingLevels (alias | (numberingLevel*, special*)) >

<!ELEMENT numberingLevel (special*) >
<!ATTLIST numberingLevel numType NMTOKEN #REQUIRED >
<!ATTLIST numberingLevel prefix CDATA #REQUIRED >
<!ATTLIST numberingLevel suffix CDATA #REQUIRED >

<!ELEMENT reservedWords (alias | (trueWord?, falseWord?, quarter1Word?, quarter2Word?, quarter3Word?, quarter4Word?, aboveWord?, belowWord?, special* )) >

<!ELEMENT trueWord ( #PCDATA ) >

<!ELEMENT falseWord ( #PCDATA ) >

<!ELEMENT quarter1Word ( #PCDATA ) >

<!ELEMENT quarter2Word ( #PCDATA ) >

<!ELEMENT quarter3Word ( #PCDATA ) >

<!ELEMENT quarter4Word ( #PCDATA ) >

<!ELEMENT aboveWord ( #PCDATA ) >

<!ELEMENT belowWord ( #PCDATA ) >

<!ELEMENT transliterationModules ( #PCDATA ) >

<!ELEMENT outLineNumberingLevel (special*) >

<!ELEMENT collator (special*) >
<!ATTLIST collator type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!--  POSIX/XPG4 Specific elements                             -->
<!-- ######################################################### -->

<!ELEMENT messages (alias | (no?, yes?, shortYes?, shortNo?, special*)) >

<!ELEMENT yes ( #PCDATA ) >

<!ELEMENT shortYes ( #PCDATA ) >

<!ELEMENT no ( #PCDATA ) >

<!ELEMENT shortNo ( #PCDATA ) >

<!ELEMENT include ( #PCDATA ) >

<!-- ######################################################### -->


<!--  TR-14652/GLIBC Specific elements                         -->
<!-- ######################################################### -->

<!ELEMENT addressFormat (alias | (postalPattern?, special*)) >

<!ELEMENT postalPattern ( #PCDATA ) >

<!ELEMENT nameFormat (alias | (namePattern?, generalSalutation?, shortSalutationMr?, shortSalutationMiss?, shortSalutationMrs?, longSalutationMr?, longSalutationMiss?, longSalutationMrs?, special*)) >

<!ELEMENT namePattern ( #PCDATA ) >

<!ELEMENT generalSalutation ( #PCDATA ) >

<!ELEMENT shortSalutationMiss ( #PCDATA ) >

<!ELEMENT shortSalutationMr ( #PCDATA ) >

<!ELEMENT shortSalutationMrs ( #PCDATA ) >

<!ELEMENT longSalutationMiss ( #PCDATA ) >

<!ELEMENT longSalutationMr ( #PCDATA ) >

<!ELEMENT longSalutationMrs ( #PCDATA ) >

<!ELEMENT identification (alias | (title?, source?, address?, contact?, email?, telephone?, fax?, languageUsed?, country?, audience?, application?, abbreviation?, revision?, date?, special*)) >

<!ELEMENT title ( #PCDATA ) >

<!ELEMENT source ( #PCDATA ) >

<!ELEMENT address ( #PCDATA ) >

<!ELEMENT contact ( #PCDATA ) >

<!ELEMENT email ( #PCDATA ) >

<!ELEMENT telephone ( #PCDATA ) >

<!ELEMENT fax ( #PCDATA ) >

<!ELEMENT languageUsed ( #PCDATA ) >

<!ELEMENT country ( #PCDATA ) >

<!ELEMENT audience ( #PCDATA ) >

<!ELEMENT application ( #PCDATA ) >

<!ELEMENT abbreviation ( #PCDATA ) >

<!ELEMENT revision ( #PCDATA ) >

<!ELEMENT date ( #PCDATA ) >

<!ELEMENT telephoneFormat (alias | (internationalPattern?, domesticPattern?, internationalDialCode?, internationalPrefix?, special*)) >

<!ELEMENT internationalPattern ( #PCDATA ) >

<!ELEMENT domesticPattern ( #PCDATA ) >

<!ELEMENT internationalDialCode ( #PCDATA ) >

<!ELEMENT internationalPrefix ( #PCDATA ) >

<!ELEMENT countryInfo (alias | (countryPost?, countryCar?, countryNumber?, countryISBNNumber?, special*)) >

<!ELEMENT countryPost ( #PCDATA ) >

<!ELEMENT countryCar ( #PCDATA ) >

<!ELEMENT countryNumber (special*) >
<!ATTLIST countryNumber type NMTOKEN #REQUIRED >

<!ELEMENT countryISBNNumber (special*) >
<!ATTLIST countryISBNNumber type NMTOKEN #REQUIRED >

<!-- ######################################################### -->





