LocaleElements.dtd

<!--
NOTE: With a DTD it is very difficult to allow for any order of elements, and special elements anywhere.
But LDML has quite a few other constraints that cannot be tested by DTDs in any event. So what is done
here is to use looser rules for the DTD, and put a comments indicating what each rule should be, were
it not for the specials and ordering.
-->

<!-- should be: (identity,(alias |(localeDisplayNames?, layout?, characters?, delimiters?, measurement?, dates?, numbers?, collations?))) except for ordering and specials -->
<!ELEMENT localeData ( identity, ( alias | (localeDisplayNames | layout | characters | delimiters | measurement | dates | numbers | collations  | special)*) ) >
<!ATTLIST localeData
   version          CDATA              #FIXED "1.0"
>
<!-- ######################################################### -->
<!-- should be: (version, generation, language, script?, territory?, variant?) except for ordering and specials -->
<!ELEMENT identity ( alias | (version | generation | language | script | territory | variant | special)*) >

<!ELEMENT version ( #PCDATA ) >
<!ATTLIST version number NMTOKEN #REQUIRED >

<!ELEMENT generation EMPTY >
<!ATTLIST generation date NMTOKEN #REQUIRED >

<!ELEMENT language ( #PCDATA ) >
<!ATTLIST language type NMTOKEN #REQUIRED >

<!ELEMENT territory ( #PCDATA ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >

<!ELEMENT variant ( #PCDATA ) >
<!ATTLIST variant type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!-- should be : (alias | (scripts?, languages?, territories?, variants?, keys?, types?)) except for ordering and specials -->
<!ELEMENT localeDisplayNames (alias | (scripts| languages| territories | variants  | keys | types | special)*) >

<!-- Either 1 alias OR any specials, any order, zero or more script -->
<!ELEMENT scripts (alias |(script | special)* ) >

<!ELEMENT script ( #PCDATA ) >
<!ATTLIST script type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more language -->
<!ELEMENT languages ( alias | (language | special)* ) >

<!-- Either 1 alias OR any specials, any order, zero or more territory -->
<!ELEMENT territories ( alias | (territory | special)*) >

<!-- Either 1 alias OR any specials, any order, zero or more variant -->
<!ELEMENT variants ( alias |(variant | special)*  ) >

<!-- Either 1 alias OR any specials, any order, zero or more key -->
<!ELEMENT keys ( alias | (key | special)*) >

<!ELEMENT key ( #PCDATA ) >
<!ATTLIST key type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more type -->
<!ELEMENT types ( alias | (type | special)* ) >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST type key NMTOKEN #REQUIRED >
<!ATTLIST type type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->
<!-- Either 1 alias OR any specials, any order, exactly one orientation -->
<!ELEMENT layout ( alias | (special*, orientation, special*) ) >

<!ELEMENT orientation EMPTY >
<!ATTLIST orientation characters NMTOKEN #REQUIRED >
<!ATTLIST orientation lines NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->
<!-- should be : (alias | (exemplarCharacters?, mapping*)) except for ordering and specials -->
<!ELEMENT characters ( alias | (exemplarCharacters | mapping | special)* ) >

<!ELEMENT exemplarCharacters ( #PCDATA ) >

<!ELEMENT mapping EMPTY >
<!ATTLIST mapping registry NMTOKEN #REQUIRED >
<!ATTLIST mapping type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!-- should be : (alias | (quotationStart?, quotationEnd?, alternateQuotationStart?, alternateQuotationEnd?)) except for ordering and specials -->
<!ELEMENT delimiters ( alias | (quotationStart| quotationEnd | alternateQuotationStart | alternateQuotationEnd | special)* ) >

<!ELEMENT quotationStart ( #PCDATA ) >

<!ELEMENT quotationEnd ( #PCDATA ) >

<!ELEMENT alternateQuotationStart ( #PCDATA ) >

<!ELEMENT alternateQuotationEnd ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!-- should be : (alias | (measurementSystem?, paperSize?)) except for ordering and specials -->
<!ELEMENT measurement ( alias | (measurementSystem | paperSize | special)* ) >

<!-- should be : (alias | (height?, width?)) except for ordering and specials -->
<!ELEMENT paperSize ( alias | (height | width | special)* ) >

<!ELEMENT height ( #PCDATA ) >

<!ELEMENT width ( #PCDATA ) >

<!ELEMENT measurementSystem EMPTY >
<!ATTLIST measurementSystem type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!-- should be : (alias | (localizedPatternChars?, calendars?, timeZoneNames?)) except for ordering and specials -->
<!ELEMENT dates ( alias | (localizedPatternChars | calendars | timeZoneNames | special)* ) >

<!ELEMENT localizedPatternChars ( #PCDATA ) >

<!-- should be : (alias | (default?, calendar*)) except for ordering and specials -->
<!ELEMENT calendars ( alias | (default | calendar | special)* ) >

<!-- should be : (alias | (am?, pm?, dateFormats?, dayAbbr?, dayNames?, era?, monthAbbr?, monthNames?, pm?, timeFomats?, week?)) except for ordering and specials -->
<!ELEMENT calendar ( alias | (am | dateFormats | dateTimeFormats | dayAbbr | dayNames | eras | monthAbbr | monthNames | pm | timeFormats | week | special)*) >
<!ATTLIST calendar type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more month -->
<!ELEMENT monthNames ( alias | (month | special)*) >

<!ELEMENT month ( #PCDATA ) >
<!ATTLIST month type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more month -->
<!ELEMENT monthAbbr ( alias | (month | special)*) >

<!-- Either 1 alias OR any specials, any order, zero or more day -->
<!ELEMENT dayNames ( alias | (day | special)*) >

<!ELEMENT day ( #PCDATA ) >
<!ATTLIST day type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more day -->
<!ELEMENT dayAbbr ( alias | (day | special)*) >

<!-- should be : (alias | (minDays?, firstDay?, weekendStart?, weekendEnd?)) except for ordering and specials -->
<!ELEMENT week   (alias | (minDays | firstDay | weekendStart | weekendEnd | special)*) >

<!ELEMENT minDays EMPTY >
<!ATTLIST minDays count NMTOKEN #REQUIRED >

<!ELEMENT firstDay EMPTY >
<!ATTLIST firstDay day NMTOKEN #REQUIRED >

<!ELEMENT weekendStart EMPTY >
<!ATTLIST weekendStart day NMTOKEN #REQUIRED >
<!ATTLIST weekendStart time NMTOKEN #REQUIRED >

<!ELEMENT weekendEnd EMPTY >
<!ATTLIST weekendEnd day NMTOKEN #REQUIRED >
<!ATTLIST weekendEnd time NMTOKEN #REQUIRED >

<!ELEMENT am ( #PCDATA ) >

<!ELEMENT pm ( #PCDATA ) >

<!-- should be : (alias | (eraNames?, eraAbbr?)) except for ordering and specials -->
<!ELEMENT eras   (alias | (eraNames | eraAbbr | special)*) >

<!-- Either 1 alias OR any specials, any order, zero or more era -->
<!ELEMENT eraNames ( alias | (era | special)* ) >

<!-- Either 1 alias OR any specials, any order, zero or more era -->
<!ELEMENT eraAbbr ( alias | (era | special)* ) >

<!ELEMENT era (#PCDATA) >
<!ATTLIST era type NMTOKEN #REQUIRED >

<!-- should be : (alias | (default?, dateFormatLength*)) except for ordering and specials -->
<!ELEMENT dateFormats ( alias | (default | dateFormatLength | special)* ) >

<!-- should be : (alias | (default?, dateFormat*)) except for ordering and specials -->
<!ELEMENT dateFormatLength ( alias | (default | dateFormat | special)* ) >
<!ATTLIST dateFormatLength type NMTOKEN #REQUIRED >

<!-- should be : (alias | (pattern?, displayName?)) except for ordering and specials -->
<!ELEMENT dateFormat ( alias | (pattern | displayName | special*)* ) >
<!ATTLIST dateFormat type NMTOKEN #IMPLIED >

<!ELEMENT displayName ( #PCDATA ) >

<!-- should be : (alias | (default?, timeFormatLength*)) except for ordering and specials -->
<!ELEMENT timeFormats ( alias | (default | timeFormatLength | special)*) >

<!-- should be : (alias | (default?, timeFormat*)) except for ordering and specials -->
<!ELEMENT timeFormatLength ( alias | ( default | timeFormat | special)*) >
<!ATTLIST timeFormatLength type NMTOKEN #REQUIRED >

<!-- should be : (alias | (pattern?, displayName?)) except for ordering and specials -->
<!ELEMENT timeFormat ( alias | (pattern | displayName | special*)* ) >
<!ATTLIST timeFormat type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?, dateTimeFormatLength*)) except for ordering and specials -->
<!ELEMENT dateTimeFormats ( alias | (default | dateTimeFormatLength+ | special)*) >

<!-- should be : (alias | (default?, dateTimeFormat*)) except for ordering and specials -->
<!ELEMENT dateTimeFormatLength ( alias | (default | dateTimeFormat+ | special)*) >
<!ATTLIST dateTimeFormatLength type NMTOKEN #REQUIRED >

<!-- should be : (alias | (pattern?, displayName?)) except for ordering and specials -->
<!ELEMENT dateTimeFormat ( alias | (pattern | displayName | special*)*) >
<!ATTLIST dateTimeFormat type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?, zone*)) except for ordering and specials -->
<!ELEMENT timeZoneNames ( alias | (default | zone| special)*) >

<!-- should be : (alias | (exemplarCity?, long?, short?)) except for ordering and specials -->
<!ELEMENT zone ( alias | (exemplarCity | long | short | special)*) >
<!ATTLIST zone type CDATA #REQUIRED >

<!-- should be : (alias | (generic?, standard?, daylight?)) except for ordering and specials -->
<!ELEMENT long ( alias | (generic | standard | daylight | special)*  ) >

<!ELEMENT generic ( #PCDATA ) >

<!ELEMENT standard ( #PCDATA ) >

<!-- should be : (alias | (generic?, standard?, daylight?)) except for ordering and specials -->
<!ELEMENT short ( alias | (generic | standard | daylight | special)* ) >

<!ELEMENT daylight ( #PCDATA ) >

<!ELEMENT exemplarCity ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!-- should be : (alias | (symbols?, currencyFormats?, decimalFormats?, percentFormats?, scientificFormats?, currencies?)) except for ordering and specials -->
<!ELEMENT numbers ( alias | (symbols | currencyFormats | decimalFormats | percentFormats | scientificFormats | currencies | special)*) >

<!-- should be : (alias | (decimal?, group?, list?, percentSign?, nativeZeroDigit?, patternDigit?, plusSign?, minusSign?, exponential?, perMille?, infinity?, nan?)) except for ordering and specials -->
<!ELEMENT symbols ( alias | (decimal | group | list | percentSign | nativeZeroDigit | patternDigit | plusSign | minusSign | exponential | perMille | infinity | nan | special)*) >

<!ELEMENT decimal ( #PCDATA ) >

<!ELEMENT group ( #PCDATA ) >

<!ELEMENT list ( #PCDATA ) >

<!ELEMENT percentSign ( #PCDATA ) >

<!ELEMENT nativeZeroDigit ( #PCDATA ) >

<!ELEMENT patternDigit ( #PCDATA ) >

<!ELEMENT plusSign ( #PCDATA ) >

<!ELEMENT minusSign ( #PCDATA ) >

<!ELEMENT exponential ( #PCDATA ) >

<!ELEMENT perMille ( #PCDATA ) >

<!ELEMENT infinity ( #PCDATA ) >

<!ELEMENT nan ( #PCDATA ) >

<!ELEMENT pattern ( #PCDATA ) >
<!ATTLIST pattern type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?,decimalFormatLength*)) except for ordering and specials -->
<!ELEMENT decimalFormats (alias | (default | decimalFormatLength | special)*) >

<!-- should be : (alias | (default?, decimalFormat*)) except for ordering and specials -->
<!ELEMENT decimalFormatLength (alias | (default | decimalFormat | special)* ) >
<!ATTLIST decimalFormatLength type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more pattern -->
<!ELEMENT decimalFormat (alias | (pattern | special)*) >
<!ATTLIST decimalFormat type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?, scientificFormatLength*)) except for ordering and specials -->
<!ELEMENT scientificFormats ( alias | (default | scientificFormatLength | special)*) >

<!-- should be : (alias | (default?, scientificFormat*)) except for ordering and specials -->
<!ELEMENT scientificFormatLength (alias | (default | scientificFormat | special)*) >
<!ATTLIST scientificFormatLength type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more pattern -->
<!ELEMENT scientificFormat (alias | (pattern | special)*) >
<!ATTLIST scientificFormat type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?, percentFormatLength*)) except for ordering and specials -->
<!ELEMENT percentFormats ( alias | (default | percentFormatLength | special)*) >

<!-- should be : (alias | (default?, percentFormat*)) except for ordering and specials -->
<!ELEMENT percentFormatLength ( alias | (default | percentFormat | special)*) >
<!ATTLIST percentFormatLength type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more pattern -->
<!ELEMENT percentFormat (alias | (pattern | special)*) >
<!ATTLIST percentFormat type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?, currencyFormatLength*)) except for ordering and specials -->
<!ELEMENT currencyFormats ( alias | (default | currencyFormatLength | special)*) >

<!-- should be : (alias | (default?, currencyFormat*)) except for ordering and specials -->
<!ELEMENT currencyFormatLength (alias | (default | currencyFormat | special)*) >
<!ATTLIST currencyFormatLength type NMTOKEN #REQUIRED >

<!-- Either 1 alias OR any specials, any order, zero or more pattern -->
<!ELEMENT currencyFormat (alias | (pattern|  special*)*) >
<!ATTLIST currencyFormat type NMTOKEN #IMPLIED >

<!-- should be : (alias | (default?, currency*)) except for ordering and specials -->
<!ELEMENT currencies (alias |  (default | currency | special*)*) >

<!-- should be : (alias | (displayName, symbol, decimal, group)) except for ordering and specials -->
<!ELEMENT currency ( alias | (displayName | symbol | decimal | group | special)* ) >
<!ATTLIST currency id NMTOKEN #IMPLIED >
<!ATTLIST currency type NMTOKEN #IMPLIED >

<!ELEMENT symbol ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!-- should be : (alias | (default?, collation*)) except for ordering and specials -->
<!ELEMENT collations ( alias | (default | collation | special)* ) >

<!-- should be : (alias | (uca?, settings?, suppressContractions?, optimize?, rules?)) except for ordering and specials -->
<!ELEMENT collation ( alias | ( special | uca | settings | suppressContractions | optimize   | rules )* ) >
<!ATTLIST collation type NMTOKEN #IMPLIED >

<!ELEMENT uca EMPTY >
<!ATTLIST uca version NMTOKEN #REQUIRED >

<!ELEMENT settings EMPTY >
<!ATTLIST settings caseLevel NMTOKEN #IMPLIED >
<!ATTLIST settings alternate NMTOKEN #IMPLIED >
<!ATTLIST settings backwards NMTOKEN #IMPLIED >
<!ATTLIST settings normalization NMTOKEN #IMPLIED >
<!ATTLIST settings caseFirst NMTOKEN #IMPLIED >
<!ATTLIST settings hiraganaQuarternary NMTOKEN #IMPLIED >
<!ATTLIST settings strength NMTOKEN #IMPLIED >
<!ATTLIST settings numeric NMTOKEN #IMPLIED >

<!ELEMENT suppressContractions (  #PCDATA ) >

<!ELEMENT optimize ( #PCDATA ) >

<!-- should be : (alias | (p*, pc*, position*, reset*, s*, sc*, t*, tc*, q*, qc*, i*, ic*)) except for ordering and specials -->
<!ELEMENT rules ( alias | (special | p | pc | position | reset | s | sc | t | tc | q | qc | i | ic)*) >

<!ELEMENT p ( #PCDATA | context | cp)* >

<!ELEMENT pc ( #PCDATA | context | cp )* >

<!ELEMENT s ( #PCDATA | context | cp )* >

<!ELEMENT sc ( #PCDATA | context | cp )* >

<!ELEMENT t ( #PCDATA | context | cp )* >

<!ELEMENT tc ( #PCDATA | context | cp )* >

<!ELEMENT q ( #PCDATA | context | cp )* >

<!ELEMENT qc ( #PCDATA | context | cp )* >

<!ELEMENT i ( #PCDATA | context | cp )* >

<!ELEMENT ic ( #PCDATA | context | cp )* >

<!ELEMENT reset ( #PCDATA | context | cp | top )* >
<!ATTLIST reset before NMTOKEN #IMPLIED >

<!ELEMENT top EMPTY >

<!ELEMENT context (  #PCDATA ) >

<!ELEMENT position EMPTY >
<!ATTLIST position at CDATA #REQUIRED >

<!ELEMENT cp EMPTY >
<!ATTLIST cp hex NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- These elements are common to all elements defined above -->
<!-- ######################################################### -->

<!ELEMENT alias EMPTY >
<!ATTLIST alias source NMTOKEN #REQUIRED >
<!ATTLIST alias type NMTOKEN #REQUIRED >

<!ELEMENT default EMPTY >
<!ATTLIST default type CDATA #REQUIRED >

<!ELEMENT special ANY >
<!ATTLIST special formatindex NMTOKEN #IMPLIED >
<!ATTLIST special msgtype NMTOKEN #IMPLIED >
<!ATTLIST special owner CDATA #REQUIRED >
<!ATTLIST special usage NMTOKEN #IMPLIED >
<!ATTLIST special version NMTOKEN #IMPLIED >
<!ATTLIST special default NMTOKEN #IMPLIED>
<!ATTLIST special type NMTOKEN #IMPLIED>
<!ATTLIST special unoid NMTOKEN #IMPLIED>

<!-- ######################################################### -->


<!--  ICU Specific elements                                    -->
<!-- ######################################################### -->

<!-- RBNF data -->
<!-- Either 1 alias OR any specials, any order, zero or more ruleBasedNumberFormat -->
<!ELEMENT ruleBasedNumberFormats ( alias | (ruleBasedNumberFormat | special)*) >

<!-- Either bare data or any number of cp -->
<!ELEMENT ruleBasedNumberFormat (#PCDATA | cp)* >
<!ATTLIST ruleBasedNumberFormat type NMTOKEN #REQUIRED >

<!-- RBBI data -->
<!-- should be : (alias | (grapheme?, word?, line?, sentence?)) except for ordering and specials -->
<!ELEMENT boundaries (alias | (grapheme | word | line | sentence | special)*) >

<!ELEMENT grapheme ( #PCDATA ) >
<!ATTLIST grapheme class NMTOKEN #REQUIRED >
<!ATTLIST grapheme append NMTOKEN #REQUIRED >

<!ELEMENT word ( #PCDATA ) >
<!ATTLIST word class NMTOKEN #REQUIRED >
<!ATTLIST word import NMTOKEN #REQUIRED >

<!ELEMENT line ( #PCDATA ) >
<!ATTLIST line class NMTOKEN #REQUIRED >


<!ELEMENT sentence ( #PCDATA ) >
<!ATTLIST sentence class NMTOKEN #REQUIRED >

<!-- RBT data  -->
<!-- Either 1 alias OR any specials, any order, zero or more transform -->
<!ELEMENT transforms ( alias | (transform | special)*) >
<!ELEMENT transform ( #PCDATA ) >
<!ATTLIST transform type NMTOKEN #REQUIRED >

<!-- ######################################################### -->



<!--  OpenOffice.org Specific elements                         -->
<!-- ######################################################### -->

<!-- Either 1 alias OR any specials, any order, zero or more numberingLevel -->
<!ELEMENT numberingLevels (alias | (numberingLevel | special)* ) >

<!ELEMENT numberingLevel EMPTY >
<!ATTLIST numberingLevel numType NMTOKEN #REQUIRED >
<!ATTLIST numberingLevel prefix CDATA #REQUIRED >
<!ATTLIST numberingLevel suffix CDATA #REQUIRED >

<!-- should be : (alias | (trueWord?, falseWord?, quater1Word?, quarter2Word?, quarter3Word?, quarter4Word?, aboveWord?, belowWord? )) except for ordering and specials -->
<!ELEMENT reservedWords ( alias | (trueWord | falseWord | quarter1Word | quarter2Word | quarter3Word | quarter4Word | aboveWord | belowWord | special)* ) >

<!ELEMENT trueWord ( #PCDATA ) >

<!ELEMENT falseWord ( #PCDATA ) >

<!ELEMENT quarter1Word ( #PCDATA ) >

<!ELEMENT quarter2Word ( #PCDATA ) >

<!ELEMENT quarter3Word ( #PCDATA ) >

<!ELEMENT quarter4Word ( #PCDATA ) >

<!ELEMENT aboveWord ( #PCDATA ) >

<!ELEMENT belowWord ( #PCDATA ) >

<!ELEMENT transliterationModules ( #PCDATA ) >

<!ELEMENT outLineNumberingLevel EMPTY >

<!ELEMENT collator EMPTY >
<!ATTLIST collator type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!--  POSIX/XPG4 Specific elements                             -->
<!-- ######################################################### -->

<!-- should be : (alias | (no?, yes?, shortYes?, shortNo?)) except for ordering and specials -->
<!ELEMENT messages ( alias | (no | yes | shortYes | shortNo | special)* ) >

<!ELEMENT yes ( #PCDATA ) >

<!ELEMENT shortYes ( #PCDATA ) >

<!ELEMENT no ( #PCDATA ) >

<!ELEMENT shortNo ( #PCDATA ) >

<!ELEMENT include ( #PCDATA ) >

<!-- ######################################################### -->


<!--  TR-14652/GLIBC Specific elements                         -->
<!-- ######################################################### -->
<!-- should be: (alias | (postalPattern?)) except for ordering and special -->
<!ELEMENT addressFormat ( alias | (special*, postalPattern, special*) ) >

<!ELEMENT postalPattern ( #PCDATA ) >

<!-- should be : (alias | (namePattern?, generalSalutation?, shortSalutationMr?, shortSalutationMiss?, shortSalutationMrs?, longSalutationMr?, longSalutationMiss?, longSalutationMrs?)) except for ordering and specials -->
<!ELEMENT nameFormat ( alias | (namePattern | generalSalutation | shortSalutationMr | shortSalutationMiss | shortSalutationMrs | longSalutationMr | longSalutationMiss | longSalutationMrs | special)*) >

<!ELEMENT namePattern ( #PCDATA ) >

<!ELEMENT generalSalutation ( #PCDATA ) >

<!ELEMENT shortSalutationMiss ( #PCDATA ) >

<!ELEMENT shortSalutationMr ( #PCDATA ) >

<!ELEMENT shortSalutationMrs ( #PCDATA ) >

<!ELEMENT longSalutationMiss ( #PCDATA ) >

<!ELEMENT longSalutationMr ( #PCDATA ) >

<!ELEMENT longSalutationMrs ( #PCDATA ) >

<!-- should be : (alias | (title?, source?, address?, contact?, email?, telephone?, fax?, languageUsed?, country?, audience?, application?, abbreviation?, revision?, date?)) except for ordering and specials -->
<!ELEMENT identification ( alias | (title | source | address | contact | email | telephone | fax | languageUsed | country | audience | application | abbreviation | revision | date | special)*) >

<!ELEMENT title ( #PCDATA ) >

<!ELEMENT source ( #PCDATA ) >

<!ELEMENT address ( #PCDATA ) >

<!ELEMENT contact ( #PCDATA ) >

<!ELEMENT email ( #PCDATA ) >

<!ELEMENT telephone ( #PCDATA ) >

<!ELEMENT fax ( #PCDATA ) >

<!ELEMENT languageUsed ( #PCDATA ) >

<!ELEMENT country ( #PCDATA ) >

<!ELEMENT audience ( #PCDATA ) >

<!ELEMENT application ( #PCDATA ) >

<!ELEMENT abbreviation ( #PCDATA ) >

<!ELEMENT revision ( #PCDATA ) >

<!ELEMENT date ( #PCDATA ) >

<!-- should be : (alias | (internationalPattern?, domesticPattern?, internationalDialCode?, internationalPrefix?)) except for ordering and specials -->
<!ELEMENT telephoneFormat ( alias | (internationalPattern | domesticPattern | internationalDialCode | internationalPrefix | special)*) >

<!ELEMENT internationalPattern ( #PCDATA ) >

<!ELEMENT domesticPattern ( #PCDATA ) >

<!ELEMENT internationalDialCode ( #PCDATA ) >

<!ELEMENT internationalPrefix ( #PCDATA ) >

<!-- should be : (alias | (countryPost?, countryCar?, countryNumber?, countryISBNNumber?)) except for ordering and specials -->
<!ELEMENT countryInfo ( alias | (countryPost | countryCar | countryNumber | countryISBNNumber | special)*) >

<!ELEMENT countryPost ( #PCDATA ) >

<!ELEMENT countryCar ( #PCDATA ) >

<!ELEMENT countryNumber EMPTY >
<!ATTLIST countryNumber type NMTOKEN #REQUIRED >

<!ELEMENT countryISBNNumber EMPTY >
<!ATTLIST countryISBNNumber type NMTOKEN #REQUIRED >

<!-- ######################################################### -->





