LocaleElements.dtd

<!ELEMENT localeData ( identity, ( localeDisplayNames | layout | encodings | delimiters | measurement | dates | numbers | collations  | special*)* ) >

<!-- ######################################################### -->

<!ELEMENT identity ( (version, generation, language, (territory? | variant? | special*)*) | alias) >

<!ELEMENT version ( #PCDATA ) >
<!ATTLIST version number NMTOKEN #REQUIRED >

<!ELEMENT generation EMPTY >
<!ATTLIST generation date NMTOKEN #REQUIRED >

<!ELEMENT language ( #PCDATA ) >
<!ATTLIST language type NMTOKEN #REQUIRED >

<!ELEMENT territory ( #PCDATA ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >

<!ELEMENT variant ( #PCDATA ) >
<!ATTLIST variant type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT localeDisplayNames ( ((scripts| languages| territories | variants  | keys | types | special*))* | alias ) >

<!ELEMENT scripts ( (script+ | special* )*   | alias ) >

<!ELEMENT script ( #PCDATA ) >
<!ATTLIST script type NMTOKEN #REQUIRED >

<!ELEMENT languages ( (language+ | special*)* | alias ) >

<!ELEMENT territories ( (territory+ | special*)* | alias ) >

<!ELEMENT variants ( (variant+ | special*)* | alias ) >

<!ELEMENT keys ( (key+ | special*) | alias ) >

<!ELEMENT key ( #PCDATA ) >
<!ATTLIST key type NMTOKEN #REQUIRED >

<!ELEMENT types ( (type+| special*)*| alias ) >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST type key NMTOKEN #REQUIRED >
<!ATTLIST type type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT layout ( (orientation| special*)* | alias ) >

<!ELEMENT orientation EMPTY >
<!ATTLIST orientation characters NMTOKEN #REQUIRED >
<!ATTLIST orientation lines NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->
<!ELEMENT encodings ( (exemplarCharacters| mapping+| special*)*| alias ) >

<!ELEMENT exemplarCharacters ( #PCDATA ) >

<!ELEMENT mapping EMPTY >
<!ATTLIST mapping registry NMTOKEN #REQUIRED >
<!ATTLIST mapping type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT delimiters ( (quotationStart| quotationEnd | doubleQuotationStart | doubleQuotationEnd | special*)* | alias ) >

<!ELEMENT quotationStart ( #PCDATA ) >

<!ELEMENT quotationEnd ( #PCDATA ) >

<!ELEMENT doubleQuotationStart ( #PCDATA ) >

<!ELEMENT doubleQuotationEnd ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT measurement ( (measurementSystem | paperSize | special*)* | alias ) >

<!ELEMENT paperSize ( (height | width | units | special* )* | alias ) >

<!ELEMENT height ( #PCDATA ) >

<!ELEMENT width ( #PCDATA ) >

<!ELEMENT units ( #PCDATA ) >


<!ELEMENT measurementSystem EMPTY >
<!ATTLIST measurementSystem type NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT dates ( (localizedPatternChars | calendars | timeZoneNames | special*)* | alias ) >

<!ELEMENT localizedPatternChars ( #PCDATA ) >

<!ELEMENT calendars ( (default | calendar+ | special*)* | alias ) >

<!ELEMENT calendar ( (am | dateFormats | dateTimeFormat | dayAbbr | dayNames | eras | monthAbbr | monthNames | pm | timeFormats | week | special*)* | alias) >
<!ATTLIST calendar type NMTOKEN #REQUIRED >

<!ELEMENT monthNames ( (month+ | special*)* | alias) >

<!ELEMENT month ( #PCDATA ) >
<!ATTLIST month type NMTOKEN #REQUIRED >

<!ELEMENT monthAbbr ( (month+ | special*)* | alias) >

<!ELEMENT dayNames ( (day+ | special*)* | alias ) >

<!ELEMENT day ( #PCDATA ) >
<!ATTLIST day type NMTOKEN #REQUIRED >

<!ELEMENT dayAbbr ( (day+ | special*)* | alias ) >

<!ELEMENT week ( (minDays | firstDay | weekendStart | weekendEnd | special* )* | alias ) >

<!ELEMENT minDays EMPTY >
<!ATTLIST minDays count NMTOKEN #REQUIRED >

<!ELEMENT firstDay EMPTY >
<!ATTLIST firstDay day NMTOKEN #REQUIRED >

<!ELEMENT weekendStart EMPTY >
<!ATTLIST weekendStart day NMTOKEN #REQUIRED >
<!ATTLIST weekendStart time NMTOKEN #REQUIRED >

<!ELEMENT weekendEnd EMPTY >
<!ATTLIST weekendEnd day NMTOKEN #REQUIRED >
<!ATTLIST weekendEnd time NMTOKEN #REQUIRED >

<!ELEMENT am ( #PCDATA ) >

<!ELEMENT pm ( #PCDATA ) >

<!ELEMENT eras ( era+ ) >

<!ELEMENT era ( #PCDATA ) >
<!ATTLIST era type NMTOKEN #REQUIRED >

<!ELEMENT dateFormats ( (default | dateFormat+ | special*)* | alias ) >

<!ELEMENT dateFormat ( (pattern | displayName | special*)* | alias ) >
<!ATTLIST dateFormat type NMTOKEN #REQUIRED >

<!ELEMENT displayName ( #PCDATA ) >

<!ELEMENT timeFormats ( (default | timeFormat+ | special*)* | alias ) >

<!ELEMENT timeFormat ( ( displayName | pattern | special* )* | alias) >
<!ATTLIST timeFormat type NMTOKEN #REQUIRED >

<!ELEMENT dateTimeFormat ( (pattern | alias) ) >

<!ELEMENT timeZoneNames ( (default | zone+ | special*)* | alias ) >

<!ELEMENT zone ( (exemplarCity | long | short | special*)* | alias) >
<!ATTLIST zone type CDATA #REQUIRED >

<!ELEMENT long ( (generic | standard | daylight | special*)* | alias ) >

<!ELEMENT generic ( #PCDATA ) >

<!ELEMENT standard ( #PCDATA ) >

<!ELEMENT short ( (generic | standard | daylight | special*)* | alias) >

<!ELEMENT daylight ( #PCDATA ) >

<!ELEMENT exemplarCity ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT numbers ( (symbols | numberFormats | currencies | special*)* | alias ) >

<!ELEMENT symbols ( (decimal | group | list | percentSign | nativeZeroDigit | patternDigit | plusSign | minusSign | exponential | perMille | infinity | nan | special*)* | alias ) >

<!ELEMENT decimal ( #PCDATA ) >

<!ELEMENT group ( #PCDATA ) >

<!ELEMENT list ( #PCDATA ) >

<!ELEMENT percentSign ( #PCDATA ) >

<!ELEMENT nativeZeroDigit ( #PCDATA ) >

<!ELEMENT patternDigit ( #PCDATA ) >

<!ELEMENT plusSign ( #PCDATA ) >

<!ELEMENT minusSign ( #PCDATA ) >

<!ELEMENT exponential ( #PCDATA ) >

<!ELEMENT perMille ( #PCDATA ) >

<!ELEMENT infinity ( #PCDATA ) >

<!ELEMENT nan ( #PCDATA ) >

<!ELEMENT numberFormats ( (default | numberFormat+ | special*)* | alias) >

<!ELEMENT numberFormat ( (pattern+ | special*)* | alias ) >
<!ATTLIST numberFormat type NMTOKEN #REQUIRED >

<!ELEMENT pattern ( #PCDATA ) >
<!ATTLIST pattern type NMTOKEN #IMPLIED >

<!ELEMENT currencies ( (default | currency+ | special*)* | alias ) >

<!ELEMENT currency ( (displayName | symbol | decimal? | group? | special*)* | alias ) >
<!ATTLIST currency id NMTOKEN #IMPLIED >
<!ATTLIST currency type NMTOKEN #IMPLIED >

<!ELEMENT symbol ( #PCDATA ) >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT collations ( (collation+ | special*)* | alias ) >

<!ELEMENT collation ( ( special* | uca? | settings? | rules? )* | alias ) >
<!ATTLIST collation key NMTOKEN #IMPLIED >

<!ELEMENT uca EMPTY >
<!ATTLIST uca version NMTOKEN #REQUIRED >

<!ELEMENT settings EMPTY >
<!ATTLIST settings caseLevel NMTOKEN #IMPLIED >
<!ATTLIST settings alternate NMTOKEN #IMPLIED >
<!ATTLIST settings backwards NMTOKEN #IMPLIED >
<!ATTLIST settings normalization NMTOKEN #IMPLIED >
<!ATTLIST settings caseFirst NMTOKEN #IMPLIED >
<!ATTLIST settings hiraganaQuarternary NMTOKEN #IMPLIED >
<!ATTLIST settings strength NMTOKEN #IMPLIED >

<!ELEMENT rules ( (special* | p | pc | position | reset | s | sc | t | tc | i | ic)* | alias) >

<!ELEMENT p ( #PCDATA ) >

<!ELEMENT pc ( #PCDATA ) >

<!ELEMENT s ( #PCDATA ) >

<!ELEMENT sc ( #PCDATA ) >

<!ELEMENT t ( #PCDATA ) >

<!ELEMENT tc ( #PCDATA ) >

<!ELEMENT i ( #PCDATA ) >

<!ELEMENT ic ( #PCDATA ) >

<!ELEMENT reset ( #PCDATA ) >

<!ELEMENT position EMPTY >
<!ATTLIST position at CDATA #REQUIRED >

<!-- ######################################################### -->


<!-- These elements are common to all elements defined above -->
<!-- ######################################################### -->

<!ELEMENT alias EMPTY >
<!ATTLIST alias source NMTOKEN #REQUIRED >
<!ATTLIST alias type NMTOKEN #REQUIRED >

<!ELEMENT default EMPTY >
<!ATTLIST default type CDATA #REQUIRED >

<!ELEMENT special ANY >
<!ATTLIST special formatindex NMTOKEN #IMPLIED >
<!ATTLIST special msgtype NMTOKEN #IMPLIED >
<!ATTLIST special owner CDATA #REQUIRED >
<!ATTLIST special usage NMTOKEN #IMPLIED >
<!ATTLIST special version NMTOKEN #IMPLIED >

<!-- ######################################################### -->


<!--  ICU Specific elements                                    -->
<!-- ######################################################### -->

<!-- RBNF data -->
<!ELEMENT ruleBasedNumberFormat ( #PCDATA ) >
<!ATTLIST ruleBasedNumberFormat type NMTOKEN #REQUIRED >

<!ELEMENT ruleBasedNumberFormats ( ruleBasedNumberFormat+ |alias ) >

<!-- RBBI data -->
<!ELEMENT boundaries ( (grapheme? | word? | line? | sentence? | special*)* | alias ) >
<!ELEMENT grapheme ( #PCDATA ) >
<!ATTLIST grapheme class NMTOKEN #REQUIRED >
<!ATTLIST grapheme append NMTOKEN #REQUIRED >

<!ELEMENT word ( #PCDATA ) >
<!ATTLIST word class NMTOKEN #REQUIRED >
<!ATTLIST word import NMTOKEN #REQUIRED >

<!ELEMENT line ( #PCDATA ) >
<!ATTLIST line class NMTOKEN #REQUIRED >


<!ELEMENT sentence ( #PCDATA ) >
<!ATTLIST sentence class NMTOKEN #REQUIRED >

<!-- RBT data  -->
<!ELEMENT transforms ( (transform | special*)* | alias ) >
<!ELEMENT transform ( #PCDATA ) >
<!ATTLIST transform type NMTOKEN #REQUIRED >

<!-- ######################################################### -->



<!--  OpenOffice.org Specific elements                         -->
<!-- ######################################################### -->

<!ELEMENT numberingLevels ( (numberingLevel+ | special*)* | alias ) >

<!ELEMENT numberingLevel EMPTY >
<!ATTLIST numberingLevel numType NMTOKEN #REQUIRED >
<!ATTLIST numberingLevel prefix CDATA #REQUIRED >
<!ATTLIST numberingLevel suffix CDATA #REQUIRED >

<!ELEMENT reservedWords ( (trueWord | falseWord | quarter1Word | quarter2Word | quarter3Word | quarter4Word | aboveWord | belowWord | special*)* | alias ) >

<!ELEMENT trueWord ( #PCDATA ) >

<!ELEMENT falseWord ( #PCDATA ) >

<!ELEMENT quarter1Word ( #PCDATA ) >

<!ELEMENT quarter2Word ( #PCDATA ) >

<!ELEMENT quarter3Word ( #PCDATA ) >

<!ELEMENT quarter4Word ( #PCDATA ) >

<!ELEMENT aboveWord ( #PCDATA ) >

<!ELEMENT belowWord ( #PCDATA ) >

<!ELEMENT transliterationModules ( #PCDATA ) >

<!ELEMENT outLineNumberingLevel EMPTY >

<!ELEMENT collator EMPTY >
<!ATTLIST collator type NMTOKEN #REQUIRED >

<!-- ######################################################### -->



<!--  POSIX/XPG4 Specific elements                             -->
<!-- ######################################################### -->

<!ELEMENT messages ( (no | yes | shortYes | shortNo | special*)* | alias ) >

<!ELEMENT yes ( #PCDATA ) >

<!ELEMENT shortYes ( #PCDATA ) >

<!ELEMENT no ( #PCDATA ) >

<!ELEMENT shortNo ( #PCDATA ) >

<!-- ######################################################### -->


<!--  TR-14652/GLIBC Specific elements                         -->
<!-- ######################################################### -->

<!ELEMENT addressFormat ( (postalPattern | special*)* | alias ) >

<!ELEMENT postalPattern ( #PCDATA ) >

<!ELEMENT nameFormat ( (namePattern | generalSalutation | shortSalutationMr | shortSalutationMiss | shortSalutationMrs | longSalutationMr | longSalutationMiss | longSalutationMrs | special*)* | alias ) >

<!ELEMENT namePattern ( #PCDATA ) >

<!ELEMENT generalSalutation ( #PCDATA ) >

<!ELEMENT shortSalutationMiss ( #PCDATA ) >

<!ELEMENT shortSalutationMr ( #PCDATA ) >

<!ELEMENT shortSalutationMrs ( #PCDATA ) >

<!ELEMENT longSalutationMiss ( #PCDATA ) >

<!ELEMENT longSalutationMr ( #PCDATA ) >

<!ELEMENT longSalutationMrs ( #PCDATA ) >

<!ELEMENT identification ( (title | source | address | contact | email | telephone | fax | languageUsed | country | audience | application | abbreviation | revision | date | special*)* | alias ) >

<!ELEMENT title ( #PCDATA ) >

<!ELEMENT source ( #PCDATA ) >

<!ELEMENT address ( #PCDATA ) >

<!ELEMENT contact ( #PCDATA ) >

<!ELEMENT email ( #PCDATA ) >

<!ELEMENT telephone ( #PCDATA ) >

<!ELEMENT fax ( #PCDATA ) >

<!ELEMENT languageUsed ( #PCDATA ) >

<!ELEMENT country ( #PCDATA ) >

<!ELEMENT audience ( #PCDATA ) >

<!ELEMENT application ( #PCDATA ) >

<!ELEMENT abbreviation ( #PCDATA ) >

<!ELEMENT revision ( #PCDATA ) >

<!ELEMENT date ( #PCDATA ) >

<!ELEMENT telephoneFormat ( (internationalPattern | domesticPattern | internationalDialCode | internationalPrefix | special*)* | alias ) >

<!ELEMENT internationalPattern ( #PCDATA ) >

<!ELEMENT domesticPattern ( #PCDATA ) >

<!ELEMENT internationalDialCode ( #PCDATA ) >

<!ELEMENT internationalPrefix ( #PCDATA ) >

<!ELEMENT countryInfo ( (countryPost | countryCar | countryNumber | countryISBNNumber | special*)* | alias ) >

<!ELEMENT countryPost ( #PCDATA ) >

<!ELEMENT countryCar ( #PCDATA ) >

<!ELEMENT countryNumber EMPTY >
<!ATTLIST countryNumber type NMTOKEN #REQUIRED >

<!ELEMENT countryISBNNumber EMPTY >
<!ATTLIST countryISBNNumber type NMTOKEN #REQUIRED >

<!-- ######################################################### -->





