LocaleElements.dtd

<!ELEMENT localeData ( identity | layout | encodings | displayNames | dates | delimiters | numbers | collation | boundaries | countryInfo | measurement | special )* >

<!ENTITY % CommonAtt 
	'id 	CDATA 	#REQUIRED' >


<!ELEMENT identity ( generation | versioning | language | country | variant+ | special )* >

<!ELEMENT generation ( #PCDATA | special )* >
<!ATTLIST generation date CDATA #IMPLIED > 
<!ELEMENT versioning (version | speical )* >
<!ELEMENT version ( #PCDATA | special )* >
<!ATTLIST version  number CDATA #REQUIRED >
<!ELEMENT language ( #PCDATA | special )* >
<!ATTLIST language %CommonAtt; >
<!ATTLIST language name CDATA #IMPLIED > 
<!ELEMENT country ( #PCDATA | special )* >
<!ATTLIST country %CommonAtt; 
	  name CDATA #IMPLIED 
	  iso2 CDATA #IMPLIED 
	  iso3 CDATA #IMPLIED >
<!ELEMENT variant ( #PCDATA | special )* >
<!ATTLIST variant %CommonAtt; >
<!ELEMENT special ANY >
<!ATTLIST special
	owner CDATA #REQUIRED 
	lcid CDATA #IMPLIED
	msgid CDATA #IMPLIED
	usage CDATA #IMPLIED
	formatindex CDATA #IMPLIED
	unoid CDATA #IMPLIED
	default CDATA #IMPLIED >

<!ELEMENT layout ( orientation | special )* >
<!ELEMENT orientation ( #PCDATA | special )* >
<!ATTLIST orientation 
	lines CDATA #REQUIRED 
	characters CDATA #REQUIRED >

<!ELEMENT encodings ( mapping+ | special )* >
<!ATTLIST encodings requiredLetters CDATA #REQUIRED >
<!ELEMENT mapping ( #PCDATA | special )* >

<!ELEMENT displayNames ( scripts | languages | countries | variants | localePatterns | special )* >
<!ELEMENT scripts ( script+ | special )* >
<!ELEMENT script ( #PCDATA | special )* >
<!ATTLIST script %CommonAtt; >
<!ELEMENT languages ( language+ | special )* >
<!ATTLIST language %CommonAtt; >
<!ATTLIST language name CDATA #IMPLIED>
<!ELEMENT countries ( country+ | speical )* >
<!ELEMENT variants ( variant | speical )* >

<!ELEMENT localePatterns ( locale | list | composition | special )* >
<!ELEMENT locale ( #PCDATA | speical )* >
<!ELEMENT list ( #PCDATA | special )* >
<!ELEMENT composition ( #PCDATA | special )* >

<!ELEMENT dates ( calendar+ | timeZoneNames | special )* >
<!ELEMENT calendar ( monthNames | monthAbbr | dayNames | dayAbbr | week | am | pm | eras | patterns | special )* >
<!ATTLIST calendar class CDATA #REQUIRED >
<!ATTLIST calendar default CDATA #IMPLIED >
<!ATTLIST calendar inheritsFrom CDATA #IMPLIED >
<!ELEMENT monthNames ( month+ | special )* >
<!ELEMENT month ( #PCDATA | special )* >
<!ATTLIST month %CommonAtt; >
<!ELEMENT monthAbbr ( month+ | special )* >
<!ATTLIST month %CommonAtt; >
<!ELEMENT dayNames ( day+ | special )* >
<!ELEMENT day ( #PCDATA | special )* >
<!ATTLIST day %CommonAtt; >
<!ELEMENT dayAbbr ( day+ | special )* >
<!ELEMENT week ( minDays | firstDay | weekendStart | weekendEnd | special )* >
<!ELEMENT minDays ( #PCDATA | special )* >
<!ELEMENT firstDay ( #PCDATA | special )* >
<!ATTLIST firstDay %CommonAtt; >
<!ELEMENT weekendStart ( day | time | special )* >
<!ELEMENT time ( #PCDATA | speical )* >
<!ELEMENT weekendEnd ( day | time | special )* >
<!ELEMENT am ( #PCDATA | special )* >
<!ELEMENT pm ( #PCDATA | special )* >
<!ELEMENT eras ( era+ | special )* >
<!ELEMENT era ( #PCDATA | special )* >
<!ATTLIST era %CommonAtt; >
<!ELEMENT patterns ( localizedPatternChars+ | patternElement | special )* >
<!ELEMENT localizedPatternChars ( #PCDATA | special )* >
<!ELEMENT patternElement ( patternCode | patternName | special )* > 
<!ATTLIST patternElement 
	patternid CDATA #REQUIRED 
	type CDATA #IMPLIED
	default CDATA #IMPLIED >
<!ELEMENT patternCode ( #PCDATA | special )* >
<!ATTLIST patternCode type CDATA #IMPLIED >
<!ELEMENT patternName ( #PCDATA | speical )* >

<!ELEMENT timeZoneNames ( zone+ | special )* >
<!ELEMENT zone ( long | short | exemplarCity | special )* >
<!ATTLIST zone 
	%CommonAtt; 
	default CDATA #IMPLIED >
<!ELEMENT long ( generic | standard | daylight | special )* >
<!ELEMENT generic ( #PCDATA | special )* > 
<!ELEMENT standard ( #PCDATA | special )* >
<!ELEMENT daylight ( #PCDATA | special )* >
<!ELEMENT short ( generic | standard | daylight | special  )* >
<!ELEMENT exemplarCity ( #PCDATA | special )* >

<!ELEMENT delimiters ( quotationStart | quotationEnd | doubleQuotationStart | doubleQuotationEnd | special )* >
<!ELEMENT quotationStart ( #PCDATA | special )* >
<!ELEMENT quotationEnd ( #PCDATA | special )* >
<!ELEMENT doubleQuotationStart ( #PCDATA | special )* >
<!ELEMENT doubleQuotationEnd ( #PCDATA | special )* >

<!ELEMENT numbers ( numberFormat+ | currencies+ | special )* >  
<!ELEMENT numberFormat ( patternElement+ | symbols | special )* > 
<!ATTLIST numberFormat class CDATA #REQUIRED >
<!ATTLIST numberFormat default CDATA #REQUIRED >
<!ELEMENT symbols ( decimal, group, list, percentSign, nativeZeroDigit, patternDigit, plusSign, minusSign, exponential, perMille, infinity, nan , special* )? >
<!ELEMENT decimal ( #PCDATA | special )* >
<!ELEMENT group ( #PCDATA | special )* >
<!ELEMENT percentSign ( #PCDATA | special )* >
<!ELEMENT nativeZeroDigit ( #PCDATA | special )* >
<!ELEMENT patternDigit ( #PCDATA | special )* >
<!ELEMENT plusSign ( #PCDATA | special )* >
<!ELEMENT minusSign ( #PCDATA | special )* >
<!ELEMENT exponential ( #PCDATA | special )* >
<!ELEMENT perMille ( #PCDATA | special )* >
<!ELEMENT infinity ( #PCDATA | special )* >
<!ELEMENT nan ( #PCDATA | special )* >

<!ELEMENT currencies ( currency+ | special )* >
<!ELEMENT currency ( symbol | name | decimal | group | patternElement | special )* >
<!ATTLIST currency %CommonAtt; >
<!ATTLIST currency name CDATA #REQUIRED >
<!ATTLIST currency default CDATA #REQUIRED >
<!ELEMENT symbol ( #PCDATA | special )* >
<!ELEMENT name ( #PCDATA | special  )* >

<!ELEMENT collation ( reset | p | t | s | tc | position | pc | special )* >
<!ATTLIST collation 
	version CDATA #REQUIRED 
	accentOrder CDATA #REQUIRED 
	override CDATA #REQUIRED >
<!ELEMENT reset ( #PCDATA | special )* >
<!ELEMENT p ( #PCDATA | special )* >
<!ELEMENT t ( #PCDATA | special )* >
<!ELEMENT s ( #PCDATA | special )* >
<!ELEMENT tc ( #PCDATA | special )* >
<!ELEMENT position ( #PCDATA | special )* >
<!ATTLIST position at CDATA #IMPLIED >
<!ELEMENT pc ( #PCDATA | special )* >
<!ELEMENT collator ( #PCDATA | special )* >
<!ATTLIST collator unoid CDATA #REQUIRED >
<!ATTLIST collator default CDATA #REQUIRED >


<!ELEMENT boundaries ( grapheme | word | sentence | line | special )* >
<!ELEMENT grapheme ( #PCDATA | special )* >
<!ATTLIST grapheme class CDATA #REQUIRED >
<!ELEMENT word ( #PCDATA | special )* >
<!ATTLIST word class CDATA #REQUIRED >
<!ATTLIST word import CDATA #REQUIRED >
<!ELEMENT sentence ( #PCDATA | special )* >
<!ATTLIST sentence class CDATA #REQUIRED >
<!ELEMENT line ( #PCDATA | special )* >
<!ATTLIST line class CDATA #REQUIRED >

<!ELEMENT countryInfo ( countryPost | countryNumber | countryCar | countryISBNNumber | special )* >
<!ELEMENT countryPost ( #PCDATA | special )* >
<!ATTLIST countryPost %CommonAtt; >
<!ELEMENT countryNumber ( #PCDATA | special )* >
<!ATTLIST countryNumber %CommonAtt; >
<!ELEMENT countryCar ( #PCDATA | special )* >
<!ATTLIST countryCar %CommonAtt; >
<!ELEMENT countryISBNNumber ( #PCDATA | special )* >
<!ATTLIST countryISBNNumber %CommonAtt; >

<!ELEMENT measurement ( paperSize | measurementSystem | special )* >
<!ELEMENT paperSize ( height | width | units | special )* >
<!ELEMENT height ( #PCDATA | special )* >
<!ELEMENT width ( #PCDATA | special )* >
<!ELEMENT units ( #PCDATA | special )* >
<!ELEMENT measurementSystem ( #PCDATA | special )* >
<!ATTLIST measurementSystem %CommonAtt; >

<!ELEMENT numberingLevels ( numberingLevel+ | special )* >
<!ELEMENT numberingLevel ( #PCDATA | special )* >
<!ATTLIST numberingLevel Prefix CDATA #REQUIRED >
<!ATTLIST numberingLevel NumType CDATA #REQUIRED >
<!ATTLIST numberingLevel Suffix CDATA #REQUIRED >

<!ELEMENT reservedWords  ( trueWord | falseWord | quarter1Word | quarter2Word | quarter3Word | quarter4Word | aboveWord | belowWord | quarter1Abbreviation | quarter2Abbreviation | quarter3Abbreviation | quarter4Abbreviation | special )* >
<!-- order is significant! -->
<!ELEMENT trueWord ( #PCDATA | special )* >
<!ELEMENT falseWord ( #PCDATA | special )* >
<!ELEMENT quarter1Word ( #PCDATA | special )* >
<!ELEMENT quarter2Word ( #PCDATA | special )* >
<!ELEMENT quarter3Word ( #PCDATA | special )* >
<!ELEMENT quarter4Word ( #PCDATA | special )* >
<!ELEMENT aboveWord ( #PCDATA | special )* >
<!ELEMENT belowWord ( #PCDATA | special )* >
<!ELEMENT quarter1Abbreviation ( #PCDATA | special )* >
<!ELEMENT quarter2Abbreviation ( #PCDATA | special )* >
<!ELEMENT quarter3Abbreviation ( #PCDATA | special )* >
<!ELEMENT quarter4Abbreviation ( #PCDATA | special )* >

<!ELEMENT transliterationModules ( #PCDATA| special )* >
<!ELEMENT outLineNumberingLevel ( #PCDATA| special )* >
<!ELEMENT messages ( no | yes | shortYes | shortNo | special )* > 
<!ELEMENT no ( #PCDATA | special )* >
<!ELEMENT yes ( #PCDATA | special )* > 
<!ELEMENT shortYes ( #PCDATA | special )* >
<!ELEMENT shortNo ( #PCDATA | special )* >

<!ELEMENT iso14652:iso14652  ( iso14652:messages| iso14652:addressFormat| iso14652:nameFormat| iso14652:identification| iso14652:telephoneFormat | special )* >
<!ATTLIST iso14652:iso14652 xmlns:iso14652 CDATA #REQUIRED >
<!ELEMENT iso14652:messages ( iso14652:no| iso14652:yes| iso14652:shortYes| iso14652:shortNo | special )* >
<!ELEMENT iso14652:no ( #PCDATA | special )* >
<!ELEMENT iso14652:yes ( #PCDATA | special )* >
<!ELEMENT iso14652:shortYes ( #PCDATA | special )* >
<!ELEMENT iso14652:shortNo ( #PCDATA | special )* >

<!ELEMENT iso14652:addressFormat ( iso14652:postalPattern | special )* >
<!ELEMENT iso14652:postalPattern ( #PCDATA | special )* >

<!ELEMENT iso14652:nameFormat ( iso14652:namePattern| iso14652:generalSalutation| iso14652:shortSalutationMr| iso14652:shortSalutationMiss|iso14652:shortSalutationMrs| iso14652:longSalutationMr| iso14652:longSalutationMiss| iso14652:longSalutationMrs | special )* >
<!ELEMENT iso14652:namePattern ( #PCDATA | special )* >
<!ELEMENT iso14652:generalSalutation ( #PCDATA | special )* >
<!ELEMENT iso14652:shortSalutationMr ( #PCDATA | special )* >
<!ELEMENT iso14652:shortSalutationMiss ( #PCDATA | special )* >
<!ELEMENT iso14652:shortSalutationMrs ( #PCDATA | special )* >
<!ELEMENT iso14652:longSalutationMr ( #PCDATA | special )* >
<!ELEMENT iso14652:longSalutationMiss ( #PCDATA | special )* >
<!ELEMENT iso14652:longSalutationMrs ( #PCDATA | special )* >

<!ELEMENT iso14652:identification ( iso14652:title| iso14652:source| iso14652:address | iso14652:contact| iso14652:email| iso14652:telephone| iso14652:fax| iso14652:language| iso14652:territory| iso14652:audience| iso14652:application| iso14652:abbreviation| iso14652:revision| iso14652:date | special )* >
<!ELEMENT iso14652:title ( #PCDATA | special )* >
<!ELEMENT iso14652:source ( #PCDATA | special )* >
<!ELEMENT iso14652:address ( #PCDATA | special )* >
<!ELEMENT iso14652:contact ( #PCDATA | special )* >
<!ELEMENT iso14652:email ( #PCDATA | special )* >
<!ELEMENT iso14652:telephone ( #PCDATA | special )* >
<!ELEMENT iso14652:fax ( #PCDATA | special )* >
<!ELEMENT iso14652:language ( #PCDATA | special )* >
<!ELEMENT iso14652:territory ( #PCDATA | special )* >
<!ELEMENT iso14652:audience ( #PCDATA | special )* >
<!ELEMENT iso14652:application ( #PCDATA | special )* >
<!ELEMENT iso14652:abbreviation ( #PCDATA | special )* >
<!ELEMENT iso14652:revision ( #PCDATA | special )* >
<!ELEMENT iso14652:date ( #PCDATA | special )* >

<!ELEMENT iso14652:telephoneFormat ( iso14652:internationalPattern| iso14652:domesticPattern| iso14652:internationalDialCode| iso14652:internationalPrefix | special )* >
<!ELEMENT iso14652:internationalPattern ( #PCDATA | special )* >
<!ELEMENT iso14652:domesticPattern ( #PCDATA | special )* >
<!ELEMENT iso14652:internationalDialCode ( #PCDATA | special )* >
<!ELEMENT iso14652:internationalPrefix ( #PCDATA | special )* >


