keyboards/dtd/ldmlKeyboard.dtd

<!--
Copyright © 1991-2022 Unicode, Inc.
For terms of use, see http://www.unicode.org/copyright.html
SPDX-License-Identifier: Unicode-DFS-2016
CLDR data files are interpreted according to the LDML specification (http://unicode.org/reports/tr35/)
-->
<!-- Important Note:

The CLDR Keyboard Workgroup is currently developing major changes to the
CLDR keyboard specification.

This DTD is a work in progress.

Please see CLDR-15034 for the latest information. -->

<!ELEMENT keyboard ( locales?, version?, info?, names, settings?, vkeyMaps*, displayMap*, keys, layerMaps*, transforms*, reorders?, backspaces?, special* ) >
<!ATTLIST keyboard locale CDATA #REQUIRED >
    <!--@MATCH:validity/bcp47-->
<!ATTLIST keyboard conformsTo (techpreview) #REQUIRED >
    <!--@MATCH:any-->
    <!--@METADATA-->

<!ELEMENT locales ( locale* ) >

<!ELEMENT locale EMPTY >
<!ATTLIST locale id CDATA #REQUIRED >
    <!--@MATCH:validity/bcp47-->
    <!--@VALUE-->

<!ELEMENT version EMPTY >
<!ATTLIST version number CDATA #IMPLIED >
    <!--@VALUE-->
<!ATTLIST version cldrVersion CDATA #FIXED "42" >
    <!--@MATCH:version-->
    <!--@METADATA-->

<!ELEMENT info EMPTY >
<!ATTLIST info author CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST info normalization CDATA #IMPLIED >
    <!--@MATCH:literal/NFC, NFD, other-->
    <!--@VALUE-->
<!ATTLIST info layout CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST info indicator CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT names ( name+, special* ) >

<!ELEMENT name EMPTY >
<!ATTLIST name value CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT special ANY >

<!ELEMENT settings EMPTY >
    <!--@ORDERED-->
<!ATTLIST settings fallback (omit) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST settings transformFailure (omit) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST settings transformPartial (hide) #IMPLIED >
    <!--@VALUE-->

<!ELEMENT vkeyMaps ( import | vkeyMap | special )+ >

<!ELEMENT import EMPTY >
<!ATTLIST import path CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT vkeyMap EMPTY >
<!ATTLIST vkeyMap from CDATA #REQUIRED >
    <!--@MATCH:any-->
<!ATTLIST vkeyMap to CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT displayMap ( display | displayOptions | special )+ >

<!ELEMENT display EMPTY >
<!ATTLIST display to CDATA #REQUIRED >
    <!--@MATCH:any-->
<!ATTLIST display display CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT displayOptions EMPTY >
<!ATTLIST displayOptions baseCharacter CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT keys ( ( key | flicks )*, special* ) >

<!ELEMENT key EMPTY >
<!ATTLIST key id CDATA #REQUIRED >
    <!--@MATCH:regex/[A-Za-z0-9-]+-->
<!ATTLIST key flicks NMTOKEN #IMPLIED >
    <!--@MATCH:regex/[A-Za-z0-9-]+-->
<!ATTLIST key gap (true) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST key to CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST key longPress CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST key longPressDefault CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST key multitap CDATA #IMPLIED >
    <!--@VALUE-->
<!ATTLIST key switch NMTOKEN #IMPLIED >
    <!--@MATCH:regex/[A-Za-z0-9]*-->
    <!--@VALUE-->
<!ATTLIST key transform (no) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST key width CDATA #IMPLIED >
    <!--@MATCH:range/0.01~100.0-->
    <!--@VALUE-->

<!ELEMENT flicks ( flick+, special* ) >
<!ATTLIST flicks id NMTOKEN #REQUIRED >
    <!--@MATCH:regex/[A-Za-z0-9-]+-->

<!ELEMENT flick EMPTY >
<!ATTLIST flick directions NMTOKENS #REQUIRED >
    <!--@MATCH:any-->
<!ATTLIST flick to CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT layerMaps ( import | layerMap | special )+ >
<!ATTLIST layerMaps form (hardware | touch) #REQUIRED >
<!ATTLIST layerMaps minDeviceWidthMM CDATA #IMPLIED >
    <!--@MATCH:range/1~999-->

<!ELEMENT layerMap ( row+, special* ) >
<!ATTLIST layerMap id NMTOKEN #IMPLIED >
    <!--@MATCH:any-->
<!ATTLIST layerMap modifier NMTOKEN #IMPLIED >
    <!--@MATCH:any-->

<!ELEMENT row EMPTY >
    <!--@ORDERED-->
<!ATTLIST row keys NMTOKENS #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST row stretch NMTOKENS #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->

<!ELEMENT transforms ( import | transform | special )+ >
<!ATTLIST transforms type CDATA #REQUIRED >
    <!--@MATCH:literal/simple, final-->

<!ELEMENT transform EMPTY >
<!ATTLIST transform before CDATA #IMPLIED >
<!ATTLIST transform from CDATA #REQUIRED >
    <!--@MATCH:any-->
<!ATTLIST transform to CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST transform error (fail) #IMPLIED >
    <!--@VALUE-->

<!ELEMENT reorders ( import | reorder | special )+ >

<!ELEMENT reorder EMPTY >
<!ATTLIST reorder before CDATA #IMPLIED >
<!ATTLIST reorder from CDATA #REQUIRED >
<!ATTLIST reorder order CDATA #IMPLIED >
    <!--@VALUE-->
<!ATTLIST reorder tertiary CDATA #IMPLIED >
    <!--@VALUE-->
<!ATTLIST reorder tertiary_base CDATA #IMPLIED >
    <!--@VALUE-->
<!ATTLIST reorder prebase CDATA #IMPLIED >
    <!--@VALUE-->

<!ELEMENT backspaces ( import, backspace, special )+ >

<!ELEMENT backspace EMPTY >
<!ATTLIST backspace before CDATA #IMPLIED >
<!ATTLIST backspace from CDATA #REQUIRED >
<!ATTLIST backspace to CDATA #IMPLIED >
    <!--@VALUE-->
<!ATTLIST backspace error (fail) #IMPLIED >
    <!--@VALUE-->
