common/dtd/ldml.dtd

<!--
Copyright © 2003-2008 Unicode, Inc. and others. All rights reserved. Distributed under the Terms of Use in http://www.unicode.org/copyright.html.

Permission is hereby granted, free of charge, to any person obtaining a copy of the Unicode data files and any associated documentation (the "Data Files") or Unicode software and any associated documentation (the "Software") to deal in the Data Files or Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, and/or sell copies of the Data Files or Software, and to permit persons to whom the Data Files or Software are furnished to do so, provided that (a) the above copyright notice(s) and this permission notice appear with all copies of the Data Files or Software, (b) both the above copyright notice(s) and this permission notice appear in associated documentation, and (c) there is clear notice in each modified Data File or in the Software as well as in the documentation associated with the Data File(s) or Software that the data or software has been modified.

THE DATA FILES AND SOFTWARE ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF THIRD PARTY RIGHTS. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR HOLDERS INCLUDED IN THIS NOTICE BE LIABLE FOR ANY CLAIM, OR ANY SPECIAL INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THE DATA FILES OR SOFTWARE.

Except as contained in this notice, the name of a copyright holder shall not be used in advertising or otherwise to promote the sale, use or other dealings in these Data Files or Software without prior written authorization of the copyright holder.
$Revision: 1.126 $
$Date: 2009-08-20 03:33:56 $
-->

<!ELEMENT ldml (identity, (alias |(fallback*, localeDisplayNames?, layout?, characters?, delimiters?, measurement?, dates?, numbers?, units?, collations?, posix?, segmentations?, rbnf?, references?, special*))) >
<!ATTLIST ldml
   version          CDATA              #FIXED "1.7"
>
<!ATTLIST ldml draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!-- ######################################################### -->

<!ELEMENT identity (alias | (version, generation, language, script?, territory?, variant?, special*) ) >

<!ELEMENT version ( #PCDATA ) >
<!ATTLIST version number CDATA #REQUIRED >

<!ELEMENT generation EMPTY >
<!ATTLIST generation date CDATA #REQUIRED >

<!ELEMENT language ( #PCDATA ) >
<!ATTLIST language type NMTOKEN #REQUIRED >
<!ATTLIST language draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST language references CDATA #IMPLIED >
<!ATTLIST language alt  CDATA #IMPLIED >


<!ELEMENT script ( #PCDATA ) >
<!ATTLIST script type NMTOKEN #REQUIRED >
<!ATTLIST script draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST script references CDATA #IMPLIED >
<!ATTLIST script alt  CDATA #IMPLIED >


<!ELEMENT territory ( #PCDATA ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >
<!ATTLIST territory draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST territory references CDATA #IMPLIED >
<!ATTLIST territory alt  CDATA #IMPLIED >


<!ELEMENT variant ( #PCDATA ) >
<!ATTLIST variant type NMTOKEN #REQUIRED >
<!ATTLIST variant draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST variant references CDATA #IMPLIED >
<!ATTLIST variant alt  CDATA #IMPLIED >


<!-- ######################################################### -->

<!-- These elements are common to almost all elements defined  -->
<!-- ######################################################### -->

<!ELEMENT alias  (special*) >
<!ATTLIST alias source NMTOKEN #REQUIRED >
<!ATTLIST alias path CDATA #IMPLIED>
<!ATTLIST alias draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST alias alt CDATA #IMPLIED >

<!ELEMENT default (special*) >
<!ATTLIST default type NMTOKEN #IMPLIED > <!-- deprecated in favor of choice -->
<!ATTLIST default choice NMTOKEN #IMPLIED > <!-- really required, but needs to be optional to support type also -->
<!ATTLIST default draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST default references CDATA #IMPLIED >
<!ATTLIST default alt CDATA #IMPLIED >

<!ELEMENT special ANY >

<!-- This element can occur anywhere there may be localizable data -->
<!ELEMENT cp (special*) >
<!ATTLIST cp hex NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT fallback (#PCDATA) >
<!ATTLIST fallback draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED  >
<!ATTLIST fallback references CDATA #IMPLIED >
<!ATTLIST fallback alt  CDATA #IMPLIED >

<!ELEMENT localeDisplayNames (alias | (localeDisplayPattern?, languages?, scripts?, territories?, variants?, keys?, types?, measurementSystemNames?, codePatterns?, special*)) >
<!ATTLIST localeDisplayNames draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!-- Either 1 alias OR any specials, any order, zero or more language -->
<!ELEMENT languages ( alias | (language | special)* ) >
<!ATTLIST languages draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED  > <!-- true and false are deprecated. -->
<!ATTLIST languages standard CDATA #IMPLIED >
<!ATTLIST languages references CDATA #IMPLIED >
<!ATTLIST languages validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more script -->
<!ELEMENT scripts (alias |(script | special)* ) >
<!ATTLIST scripts draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST scripts standard CDATA #IMPLIED >
<!ATTLIST scripts references CDATA #IMPLIED >
<!ATTLIST scripts validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more territory -->
<!ELEMENT territories ( alias | (territory | special)*) >
<!ATTLIST territories draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST territories standard CDATA #IMPLIED >
<!ATTLIST territories references CDATA #IMPLIED >
<!ATTLIST territories validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more variant -->
<!ELEMENT variants ( alias |(variant | special)*  ) >
<!ATTLIST variants draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST variants standard CDATA #IMPLIED >
<!ATTLIST variants references CDATA #IMPLIED >
<!ATTLIST variants validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more key -->
<!ELEMENT keys ( alias | (key | special)*) >
<!ATTLIST keys draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST keys standard CDATA #IMPLIED >
<!ATTLIST keys references CDATA #IMPLIED >
<!ATTLIST keys validSubLocales CDATA #IMPLIED >

<!ELEMENT key ( #PCDATA ) >
<!ATTLIST key type NMTOKEN #REQUIRED >
<!ATTLIST key draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST key references CDATA #IMPLIED >
<!ATTLIST key alt CDATA #IMPLIED >


<!-- Either 1 alias OR any specials, any order, zero or more type -->
<!ELEMENT types ( alias | (type | special)* ) >
<!ATTLIST types draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST types standard CDATA #IMPLIED >
<!ATTLIST types references CDATA #IMPLIED >
<!ATTLIST types validSubLocales CDATA #IMPLIED >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST type type NMTOKEN #REQUIRED >
<!ATTLIST type key NMTOKEN #IMPLIED >
<!ATTLIST type draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST type references CDATA #IMPLIED >
<!ATTLIST type alt CDATA #IMPLIED >


<!ELEMENT codePatterns ( codePattern+ ) >
<!ELEMENT codePattern ( #PCDATA ) >
<!ATTLIST codePattern type NMTOKEN #REQUIRED >
<!ATTLIST codePattern draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST codePattern references CDATA #IMPLIED >
<!ATTLIST codePattern alt  CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more measurementSystemName -->
<!ELEMENT measurementSystemNames ( alias | (measurementSystemName | special)* ) >
<!ATTLIST measurementSystemNames draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST measurementSystemNames references CDATA #IMPLIED >
<!ATTLIST measurementSystemNames validSubLocales CDATA #IMPLIED >

<!ELEMENT measurementSystemName ( #PCDATA ) >
<!ATTLIST measurementSystemName type ( US | metric | UK ) #REQUIRED >
<!ATTLIST measurementSystemName draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST measurementSystemName references CDATA #IMPLIED >
<!ATTLIST measurementSystemName alt CDATA #IMPLIED >

<!ELEMENT localeDisplayPattern ( alias | (localePattern*, localeSeparator*, special*) ) >
<!ATTLIST localeDisplayPattern draft ( approved | contributed | provisional | unconfirmed) #IMPLIED >
<!ATTLIST localeDisplayPattern references CDATA #IMPLIED >
<!ATTLIST localeDisplayPattern alt CDATA #IMPLIED >

<!ELEMENT localePattern ( #PCDATA ) >
<!ATTLIST localePattern draft ( approved | contributed | provisional | unconfirmed) #IMPLIED >
<!ATTLIST localePattern references CDATA #IMPLIED >
<!ATTLIST localePattern alt CDATA #IMPLIED >

<!ELEMENT localeSeparator ( #PCDATA ) >
<!ATTLIST localeSeparator draft ( approved | contributed | provisional | unconfirmed) #IMPLIED >
<!ATTLIST localeSeparator references CDATA #IMPLIED >
<!ATTLIST localeSeparator alt CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->
<!-- layout and orientation are script specific, so validSublocales attribute is not required -->
<!ELEMENT layout ( alias | (orientation*, inList*, inText*, special*) ) >
<!ATTLIST layout draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST layout references CDATA #IMPLIED >

<!ELEMENT orientation ( special* ) >
<!ATTLIST orientation characters ( left-to-right | right-to-left | top-to-bottom | bottom-to-top ) "left-to-right" >
<!ATTLIST orientation lines ( left-to-right | right-to-left | top-to-bottom | bottom-to-top ) "top-to-bottom" >
<!ATTLIST orientation draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST orientation standard CDATA #IMPLIED >
<!ATTLIST orientation references CDATA #IMPLIED >
<!ATTLIST orientation alt CDATA #IMPLIED >

<!ELEMENT inList ( #PCDATA ) >
<!ATTLIST inList casing ( titlecase-words | titlecase-firstword | lowercase-words | mixed ) #IMPLIED > <!-- deprecated -->
<!ATTLIST inList draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST inList references CDATA #IMPLIED >
<!ATTLIST inList alt CDATA #IMPLIED >

<!ELEMENT inText ( #PCDATA ) >
<!ATTLIST inText type ( languages | scripts | territories | variants | keys | types | measurementSystemNames | monthWidth | dayWidth | quarterWidth | long | fields | currency ) #IMPLIED >
<!ATTLIST inText draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 
<!ATTLIST inText references CDATA #IMPLIED >
<!ATTLIST inText alt CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT characters (alias | (exemplarCharacters*, mapping*, special*))  >
<!ATTLIST characters draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT exemplarCharacters ( #PCDATA | cp )* >
<!ATTLIST exemplarCharacters type ( auxiliary | standard | currencySymbol ) #IMPLIED >
<!ATTLIST exemplarCharacters draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST exemplarCharacters standard CDATA #IMPLIED >
<!ATTLIST exemplarCharacters references CDATA #IMPLIED >
<!ATTLIST exemplarCharacters alt CDATA #IMPLIED >
<!ATTLIST exemplarCharacters validSubLocales CDATA #IMPLIED >

<!ELEMENT mapping (special*) >
<!ATTLIST mapping registry NMTOKEN #REQUIRED >
<!ATTLIST mapping type NMTOKEN #IMPLIED > <!-- deprecated in favor of choice -->
<!ATTLIST mapping choice NMTOKEN #IMPLIED >
<!ATTLIST mapping draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST mapping standard CDATA #IMPLIED >
<!ATTLIST mapping references CDATA #IMPLIED >
<!ATTLIST mapping alt CDATA #IMPLIED >
<!ATTLIST mapping validSubLocales CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT delimiters (alias | (quotationStart*, quotationEnd*, alternateQuotationStart*, alternateQuotationEnd*, special*)) >
<!ATTLIST delimiters draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST delimiters standard CDATA #IMPLIED >
<!ATTLIST delimiters references CDATA #IMPLIED >
<!ATTLIST delimiters alt CDATA #IMPLIED >
<!ATTLIST delimiters validSubLocales CDATA #IMPLIED >

<!ELEMENT quotationStart ( #PCDATA | cp )* >
<!ATTLIST quotationStart draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST quotationStart references CDATA #IMPLIED >
<!ATTLIST quotationStart alt CDATA #IMPLIED >

<!ELEMENT quotationEnd ( #PCDATA | cp )* >
<!ATTLIST quotationEnd draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST quotationEnd references CDATA #IMPLIED >
<!ATTLIST quotationEnd alt CDATA #IMPLIED >
 
<!ELEMENT alternateQuotationStart ( #PCDATA | cp )* >
<!ATTLIST alternateQuotationStart draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST alternateQuotationStart references CDATA #IMPLIED >
<!ATTLIST alternateQuotationStart alt CDATA #IMPLIED >

<!ELEMENT alternateQuotationEnd ( #PCDATA | cp )* >
<!ATTLIST alternateQuotationEnd draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST alternateQuotationEnd references CDATA #IMPLIED >
<!ATTLIST alternateQuotationEnd alt CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT measurement (alias | (measurementSystem*, paperSize*, special*)) >
<!ATTLIST measurement draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST measurement standard CDATA #IMPLIED >
<!ATTLIST measurement references CDATA #IMPLIED >
<!ATTLIST measurement alt CDATA #IMPLIED >
<!ATTLIST measurement validSubLocales CDATA #IMPLIED >

<!ELEMENT paperSize (alias | (height*, width*, special*)) >
<!ATTLIST paperSize draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST paperSize standard CDATA #IMPLIED >
<!ATTLIST paperSize references CDATA #IMPLIED >
<!ATTLIST paperSize alt CDATA #IMPLIED >
<!ATTLIST paperSize validSubLocales CDATA #IMPLIED >

<!ELEMENT height ( #PCDATA ) >
<!ATTLIST height draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST height references CDATA #IMPLIED >
<!ATTLIST height alt CDATA #IMPLIED >

<!ELEMENT width ( #PCDATA ) >
<!ATTLIST width draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST width references CDATA #IMPLIED >
<!ATTLIST width alt CDATA #IMPLIED >

<!ELEMENT measurementSystem (special*) >
<!ATTLIST measurementSystem type ( metric | US | UK ) #IMPLIED > <!-- deprecated in favor of choice -->
<!ATTLIST measurementSystem choice ( metric | US | UK ) #IMPLIED > <!-- really required, but needs to be optional to support type also -->
<!ATTLIST measurementSystem draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST measurementSystem standard CDATA #IMPLIED >
<!ATTLIST measurementSystem references CDATA #IMPLIED >
<!ATTLIST measurementSystem alt CDATA #IMPLIED >
<!ATTLIST measurementSystem validSubLocales CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT dates (alias | (localizedPatternChars*, dateRangePattern*, calendars?, timeZoneNames?, special*)) >
<!ATTLIST dates draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dates standard CDATA #IMPLIED >
<!ATTLIST dates references CDATA #IMPLIED >
<!ATTLIST dates alt CDATA #IMPLIED >
<!ATTLIST dates validSubLocales CDATA #IMPLIED >

<!ELEMENT localizedPatternChars ( #PCDATA | cp )* >
<!ATTLIST localizedPatternChars draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST localizedPatternChars standard CDATA #IMPLIED >
<!ATTLIST localizedPatternChars references CDATA #IMPLIED >
<!ATTLIST localizedPatternChars alt CDATA #IMPLIED >
<!ATTLIST localizedPatternChars validSubLocales CDATA #IMPLIED >

<!ELEMENT dateRangePattern ( #PCDATA ) >
<!ATTLIST dateRangePattern draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST dateRangePattern standard CDATA #IMPLIED >
<!ATTLIST dateRangePattern references CDATA #IMPLIED >
<!ATTLIST dateRangePattern alt CDATA #IMPLIED >
<!ATTLIST dateRangePattern validSubLocales CDATA #IMPLIED >

<!ELEMENT calendars (alias | (default*, calendar*, special*)) >
<!ATTLIST calendars draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST calendars validSubLocales CDATA #IMPLIED >

<!ELEMENT calendar (alias | (months?, monthNames?, monthAbbr?, days?, dayNames?, dayAbbr?, quarters?, week?, am*, pm*, eras?, dateFormats?, timeFormats?, dateTimeFormats?, fields*, special*))>
<!ATTLIST calendar type NMTOKEN #REQUIRED >
<!ATTLIST calendar draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST calendar standard CDATA #IMPLIED >
<!ATTLIST calendar references CDATA #IMPLIED >
<!ATTLIST calendar alt CDATA #IMPLIED >
<!ATTLIST calendar validSubLocales CDATA #IMPLIED >

<!ELEMENT months ( alias | (default*, monthContext*, special*)) >
<!ATTLIST months draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST months standard CDATA #IMPLIED >
<!ATTLIST months references CDATA #IMPLIED >
<!ATTLIST months alt CDATA #IMPLIED >
<!ATTLIST months validSubLocales CDATA #IMPLIED >

<!ELEMENT monthContext ( alias | (default*, monthWidth*, special*)) >
<!ATTLIST monthContext type ( format | stand-alone ) #REQUIRED >
<!ATTLIST monthContext draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST monthContext standard CDATA #IMPLIED >
<!ATTLIST monthContext references CDATA #IMPLIED >
<!ATTLIST monthContext alt CDATA #IMPLIED >
<!ATTLIST monthContext validSubLocales CDATA #IMPLIED >

<!ELEMENT monthWidth ( alias | (month*, special*)) >
<!ATTLIST monthWidth type ( abbreviated| narrow | wide) #REQUIRED >
<!ATTLIST monthWidth draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST monthWidth standard CDATA #IMPLIED >
<!ATTLIST monthWidth references CDATA #IMPLIED >
<!ATTLIST monthWidth alt CDATA #IMPLIED >
<!ATTLIST monthWidth validSubLocales CDATA #IMPLIED >

<!ELEMENT month ( #PCDATA | cp )* >
<!ATTLIST month type ( 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 ) #REQUIRED >
<!ATTLIST month yeartype ( standard | leap ) #IMPLIED >
<!ATTLIST month references CDATA #IMPLIED >
<!ATTLIST month alt CDATA #IMPLIED >
<!ATTLIST month draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->


<!-- START_DEPRECATED -->
<!ELEMENT monthNames ( alias | (month*, special*)) >
<!ATTLIST monthNames draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT monthAbbr ( alias | (month*, special*)) >
<!ATTLIST monthAbbr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!-- END_DEPRECATED-->

<!ELEMENT days ( alias | (default*, dayContext*, special*)) >
<!ATTLIST days draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->
<!ATTLIST days standard CDATA #IMPLIED >
<!ATTLIST days references CDATA #IMPLIED >
<!ATTLIST days alt CDATA #IMPLIED >
<!ATTLIST days validSubLocales CDATA #IMPLIED >

<!ELEMENT dayContext ( alias | (default*, dayWidth*, special*)) >
<!ATTLIST dayContext draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dayContext type ( format | stand-alone ) #REQUIRED >
<!ATTLIST dayContext standard CDATA #IMPLIED >
<!ATTLIST dayContext references CDATA #IMPLIED >
<!ATTLIST dayContext alt CDATA #IMPLIED >
<!ATTLIST dayContext validSubLocales CDATA #IMPLIED >

<!ELEMENT dayWidth ( alias | (day*, special*)) >
<!ATTLIST dayWidth draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dayWidth type NMTOKEN #REQUIRED >
<!ATTLIST dayWidth standard CDATA #IMPLIED >
<!ATTLIST dayWidth references CDATA #IMPLIED >
<!ATTLIST dayWidth alt CDATA #IMPLIED >
<!ATTLIST dayWidth validSubLocales CDATA #IMPLIED >

<!ELEMENT day ( #PCDATA ) >
<!ATTLIST day type ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >
<!ATTLIST day references CDATA #IMPLIED >
<!ATTLIST day draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST day alt CDATA #IMPLIED >


<!ELEMENT quarters ( alias | (default*, quarterContext*, special*)) >
<!ATTLIST quarters draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST quarters references CDATA #IMPLIED >
<!ATTLIST quarters alt CDATA #IMPLIED >
<!ATTLIST quarters validSubLocales CDATA #IMPLIED >

<!ELEMENT quarterContext ( alias | (default*, quarterWidth*, special*)) >
<!ATTLIST quarterContext draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST quarterContext type ( format | stand-alone ) #REQUIRED >
<!ATTLIST quarterContext references CDATA #IMPLIED >
<!ATTLIST quarterContext alt CDATA #IMPLIED >
<!ATTLIST quarterContext validSubLocales CDATA #IMPLIED >

<!ELEMENT quarterWidth ( alias | (quarter*, special*)) >
<!ATTLIST quarterWidth draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST quarterWidth type NMTOKEN #REQUIRED >
<!ATTLIST quarterWidth references CDATA #IMPLIED >
<!ATTLIST quarterWidth alt CDATA #IMPLIED >
<!ATTLIST quarterWidth validSubLocales CDATA #IMPLIED >

<!ELEMENT quarter ( #PCDATA ) >
<!ATTLIST quarter type ( 1 | 2 | 3 | 4 ) #REQUIRED >
<!ATTLIST quarter references CDATA #IMPLIED >
<!ATTLIST quarter draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST quarter alt CDATA #IMPLIED >


<!-- START_DEPRECATED-->

<!ELEMENT dayAbbr ( alias | (day*, special*)) >
<!ATTLIST dayAbbr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT dayNames ( alias | (day*, special*)) >
<!ATTLIST dayNames draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->


<!ELEMENT week (alias | (minDays*, firstDay*, weekendStart*, weekendEnd*, special*)) >
<!ATTLIST week draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST week standard CDATA #IMPLIED >
<!ATTLIST week references CDATA #IMPLIED >
<!ATTLIST week alt CDATA #IMPLIED >
<!ATTLIST week validSubLocales CDATA #IMPLIED >

<!ELEMENT minDays (special*) >
<!ATTLIST minDays count ( 1 | 2 | 3 | 4 | 5 | 6 | 7 ) #REQUIRED >
<!ATTLIST minDays draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST minDays references CDATA #IMPLIED >
<!ATTLIST minDays alt CDATA #IMPLIED >

<!ELEMENT firstDay (special*) >
<!ATTLIST firstDay day NMTOKEN #REQUIRED >
<!ATTLIST firstDay draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST firstDay references CDATA #IMPLIED >
<!ATTLIST firstDay alt CDATA #IMPLIED >

<!ELEMENT weekendStart (special*) >
<!ATTLIST weekendStart day ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >
<!ATTLIST weekendStart time CDATA "00:00" >
<!ATTLIST weekendStart draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST weekendStart references CDATA #IMPLIED >
<!ATTLIST weekendStart alt CDATA #IMPLIED >

<!ELEMENT weekendEnd (special*) >
<!ATTLIST weekendEnd day ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >
<!ATTLIST weekendEnd time CDATA "24:00" >
<!ATTLIST weekendEnd draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST weekendEnd references CDATA #IMPLIED >
<!ATTLIST weekendEnd alt CDATA #IMPLIED >

<!-- END_DEPRECATED-->


<!ELEMENT am ( #PCDATA ) >
<!ATTLIST am draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST am references CDATA #IMPLIED >
<!ATTLIST am alt CDATA #IMPLIED >
<!ATTLIST am validSubLocales CDATA #IMPLIED >

<!ELEMENT pm ( #PCDATA ) >
<!ATTLIST pm draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST pm references CDATA #IMPLIED >
<!ATTLIST pm alt CDATA #IMPLIED >
<!ATTLIST pm validSubLocales CDATA #IMPLIED >

<!ELEMENT eras   (alias | (eraNames?, eraAbbr?, eraNarrow?, special*)) >
<!ATTLIST eras draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST eras standard CDATA #IMPLIED >
<!ATTLIST eras references CDATA #IMPLIED >
<!ATTLIST eras alt CDATA #IMPLIED >
<!ATTLIST eras validSubLocales CDATA #IMPLIED >

<!ELEMENT eraNames ( alias | (era*, special*) ) >
<!ATTLIST eraNames draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST eraNames references CDATA #IMPLIED >
<!ATTLIST eraNames alt CDATA #IMPLIED >
<!ATTLIST eraNames validSubLocales CDATA #IMPLIED >

<!ELEMENT eraAbbr ( alias | (era*, special*) ) >
<!ATTLIST eraAbbr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST eraAbbr references CDATA #IMPLIED >
<!ATTLIST eraAbbr alt CDATA #IMPLIED >
<!ATTLIST eraAbbr validSubLocales CDATA #IMPLIED >

<!ELEMENT eraNarrow ( alias | (era*, special*) ) >
<!ATTLIST eraNarrow draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST eraNarrow references CDATA #IMPLIED >
<!ATTLIST eraNarrow alt CDATA #IMPLIED >
<!ATTLIST eraNarrow validSubLocales CDATA #IMPLIED >

<!ELEMENT era (#PCDATA) >
<!ATTLIST era type NMTOKEN #REQUIRED >
<!ATTLIST era draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST era references CDATA #IMPLIED >
<!ATTLIST era alt CDATA #IMPLIED >

<!ELEMENT dateFormats (alias | (default*, dateFormatLength*, special*)) >
<!ATTLIST dateFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT dateFormatLength (alias | (default*, dateFormat*, special*)) >
<!ATTLIST dateFormatLength type ( full | long | medium | short ) #REQUIRED >
<!ATTLIST dateFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateFormatLength standard CDATA #IMPLIED >
<!ATTLIST dateFormatLength references CDATA #IMPLIED >
<!ATTLIST dateFormatLength alt CDATA #IMPLIED >
<!ATTLIST dateFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT dateFormat (alias | (pattern*, displayName*, special*))  >
<!ATTLIST dateFormat type NMTOKEN "standard">
<!ATTLIST dateFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateFormat standard CDATA #IMPLIED >
<!ATTLIST dateFormat references CDATA #IMPLIED >
<!ATTLIST dateFormat alt CDATA #IMPLIED >
<!ATTLIST dateFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT displayName ( #PCDATA ) >
<!ATTLIST displayName count (zero | one | two | few | many | other) #IMPLIED> <!-- only for currencies -->
<!ATTLIST displayName draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST displayName references CDATA #IMPLIED >
<!ATTLIST displayName alt CDATA #IMPLIED >

<!ELEMENT timeFormats (alias | (default*, timeFormatLength*, special*)) >
<!ATTLIST timeFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST timeFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT timeFormatLength (alias | (default*, timeFormat*, special*)) >
<!ATTLIST timeFormatLength type ( full | long | medium | short ) #REQUIRED >
<!ATTLIST timeFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST timeFormatLength standard CDATA #IMPLIED >
<!ATTLIST timeFormatLength references CDATA #IMPLIED >
<!ATTLIST timeFormatLength alt CDATA #IMPLIED >
<!ATTLIST timeFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT timeFormat (alias | (pattern*, displayName*, special*)) >
<!ATTLIST timeFormat type NMTOKEN "standard" >
<!ATTLIST timeFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST timeFormat standard CDATA #IMPLIED >
<!ATTLIST timeFormat references CDATA #IMPLIED >
<!ATTLIST timeFormat alt CDATA #IMPLIED >
<!ATTLIST timeFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT dateTimeFormats (alias | (default*, dateTimeFormatLength*, availableFormats*, appendItems*, intervalFormats*, special*)) >
<!ATTLIST dateTimeFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateTimeFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT dateTimeFormatLength (alias | (default*, dateTimeFormat*, special*)) >
<!ATTLIST dateTimeFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST dateTimeFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateTimeFormatLength standard CDATA #IMPLIED >
<!ATTLIST dateTimeFormatLength references CDATA #IMPLIED >
<!ATTLIST dateTimeFormatLength alt CDATA #IMPLIED >
<!ATTLIST dateTimeFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT dateTimeFormat (alias | (pattern*, displayName*, special*)) >
<!ATTLIST dateTimeFormat type NMTOKEN "standard"  >
<!ATTLIST dateTimeFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateTimeFormat standard CDATA #IMPLIED >
<!ATTLIST dateTimeFormat references CDATA #IMPLIED >
<!ATTLIST dateTimeFormat alt CDATA #IMPLIED >
<!ATTLIST dateTimeFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT availableFormats (alias | (dateFormatItem*, special*)) >
<!ATTLIST availableFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST availableFormats references CDATA #IMPLIED >
<!ATTLIST availableFormats alt CDATA #IMPLIED >
<!ATTLIST availableFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT appendItems (alias | (appendItem*, special*)) >
<!ATTLIST appendItems draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST appendItems references CDATA #IMPLIED >
<!ATTLIST appendItems alt CDATA #IMPLIED >
<!ATTLIST appendItems validSubLocales CDATA #IMPLIED >

<!ELEMENT dateFormatItem ( #PCDATA ) >
<!ATTLIST dateFormatItem id CDATA #REQUIRED >
<!ATTLIST dateFormatItem draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST dateFormatItem references CDATA #IMPLIED >
<!ATTLIST dateFormatItem alt CDATA #IMPLIED >

<!ELEMENT appendItem ( #PCDATA ) >
<!ATTLIST appendItem request CDATA #REQUIRED >
<!ATTLIST appendItem draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST appendItem references CDATA #IMPLIED >
<!ATTLIST appendItem alt CDATA #IMPLIED >

<!ELEMENT intervalFormats (alias | (intervalFormatFallback*, intervalFormatItem*, special*)) >
<!ATTLIST intervalFormats draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST intervalFormats references CDATA #IMPLIED >
<!ATTLIST intervalFormats alt CDATA #IMPLIED >
<!ATTLIST intervalFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT intervalFormatFallback ( #PCDATA ) >
<!ATTLIST intervalFormatFallback draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST intervalFormatFallback references CDATA #IMPLIED >
<!ATTLIST intervalFormatFallback alt CDATA #IMPLIED >
<!ATTLIST intervalFormatFallback validSubLocales CDATA #IMPLIED >

<!ELEMENT intervalFormatItem (alias | (greatestDifference*, special*)) >
<!ATTLIST intervalFormatItem id NMTOKEN #REQUIRED >
<!ATTLIST intervalFormatItem draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST intervalFormatItem references CDATA #IMPLIED >
<!ATTLIST intervalFormatItem alt CDATA #IMPLIED >
<!ATTLIST intervalFormatItem validSubLocales CDATA #IMPLIED >

<!ELEMENT greatestDifference ( #PCDATA ) >
<!ATTLIST greatestDifference id NMTOKEN #REQUIRED >
<!ATTLIST greatestDifference draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST greatestDifference references CDATA #IMPLIED >
<!ATTLIST greatestDifference alt CDATA #IMPLIED >
<!ATTLIST greatestDifference validSubLocales CDATA #IMPLIED >


<!ELEMENT timeZoneNames (alias | (hourFormat*, hoursFormat*, gmtFormat*, gmtZeroFormat*, regionFormat*, fallbackFormat*, abbreviationFallback*, preferenceOrdering*, singleCountries*, default*, zone*, metazone*, special*)) >
<!ATTLIST timeZoneNames draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST timeZoneNames validSubLocales CDATA #IMPLIED >

<!ELEMENT hourFormat ( #PCDATA ) >
<!ATTLIST hourFormat alt CDATA #IMPLIED >
<!ATTLIST hourFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST hourFormat references CDATA #IMPLIED >

<!ELEMENT hoursFormat ( #PCDATA ) >
<!ATTLIST hoursFormat alt CDATA #IMPLIED >
<!ATTLIST hoursFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST hoursFormat references CDATA #IMPLIED >

<!ELEMENT gmtFormat ( #PCDATA ) >
<!ATTLIST gmtFormat alt CDATA #IMPLIED >
<!ATTLIST gmtFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST gmtFormat references CDATA #IMPLIED >

<!ELEMENT gmtZeroFormat ( #PCDATA ) >
<!ATTLIST gmtZeroFormat alt CDATA #IMPLIED >
<!ATTLIST gmtZeroFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST gmtZeroFormat references CDATA #IMPLIED >

<!ELEMENT regionFormat ( #PCDATA ) >
<!ATTLIST regionFormat alt CDATA #IMPLIED >
<!ATTLIST regionFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST regionFormat references CDATA #IMPLIED >

<!ELEMENT fallbackFormat ( #PCDATA ) >
<!ATTLIST fallbackFormat alt CDATA #IMPLIED >
<!ATTLIST fallbackFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST fallbackFormat references CDATA #IMPLIED >

<!ELEMENT abbreviationFallback EMPTY >
<!ATTLIST abbreviationFallback type ( GMT | standard ) #IMPLIED > <!-- deprecated in favor of choice -->
<!ATTLIST abbreviationFallback choice ( GMT | standard ) #IMPLIED > <!-- really required, but needs to be optional to support type also -->
<!ATTLIST abbreviationFallback alt CDATA #IMPLIED >
<!ATTLIST abbreviationFallback draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST abbreviationFallback references CDATA #IMPLIED >

<!ELEMENT preferenceOrdering EMPTY > <!-- deprecated, use metazones instead -->
<!ATTLIST preferenceOrdering type CDATA #IMPLIED > <!-- deprecated in favor of choice -->
<!ATTLIST preferenceOrdering choice CDATA #IMPLIED > <!-- really required, but needs to be optional to support type also -->
<!ATTLIST preferenceOrdering alt CDATA #IMPLIED >
<!ATTLIST preferenceOrdering draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST preferenceOrdering references CDATA #IMPLIED >

<!ELEMENT singleCountries EMPTY >
<!ATTLIST singleCountries list CDATA #REQUIRED >
<!ATTLIST singleCountries alt CDATA #IMPLIED >
<!ATTLIST singleCountries draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST singleCountries references CDATA #IMPLIED >

<!ELEMENT zone (alias | ( long*, short*, commonlyUsed*, exemplarCity*, special*)) >
<!ATTLIST zone type CDATA #REQUIRED >
<!ATTLIST zone draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST zone standard CDATA #IMPLIED >
<!ATTLIST zone references CDATA #IMPLIED >
<!ATTLIST zone alt CDATA #IMPLIED >
<!ATTLIST zone validSubLocales CDATA #IMPLIED >

<!ELEMENT metazone (alias | ( long*, short*, commonlyUsed*, special*)) >
<!ATTLIST metazone type CDATA #REQUIRED >
<!ATTLIST metazone draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST metazone standard CDATA #IMPLIED >
<!ATTLIST metazone references CDATA #IMPLIED >
<!ATTLIST metazone alt CDATA #IMPLIED >
<!ATTLIST metazone validSubLocales CDATA #IMPLIED >

<!ELEMENT long (alias | (generic*, standard*, daylight*, special*)) >
<!ATTLIST long draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST long references CDATA #IMPLIED >
<!ATTLIST long alt CDATA #IMPLIED >
<!ATTLIST long validSubLocales CDATA #IMPLIED >

<!ELEMENT short (alias | (generic*, standard*, daylight*, special*)) >
<!ATTLIST short draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST short references CDATA #IMPLIED >
<!ATTLIST short alt CDATA #IMPLIED >
<!ATTLIST short validSubLocales CDATA #IMPLIED >

<!ELEMENT generic ( #PCDATA ) >
<!ATTLIST generic draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST generic references CDATA #IMPLIED >
<!ATTLIST generic alt CDATA #IMPLIED >


<!ELEMENT standard ( #PCDATA ) >
<!ATTLIST standard draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST standard references CDATA #IMPLIED >
<!ATTLIST standard alt CDATA #IMPLIED >


<!ELEMENT daylight ( #PCDATA ) >
<!ATTLIST daylight draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST daylight references CDATA #IMPLIED >
<!ATTLIST daylight alt CDATA #IMPLIED >


<!ELEMENT commonlyUsed ( #PCDATA ) >
<!ATTLIST commonlyUsed used ( true | false ) #IMPLIED > <!-- deprecated -->
<!ATTLIST commonlyUsed draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST commonlyUsed references CDATA #IMPLIED >
<!ATTLIST commonlyUsed alt CDATA #IMPLIED >


<!ELEMENT exemplarCity ( #PCDATA ) >
<!ATTLIST exemplarCity draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST exemplarCity references CDATA #IMPLIED >
<!ATTLIST exemplarCity alt CDATA #IMPLIED >

<!ELEMENT usesMetazone EMPTY >
<!ATTLIST usesMetazone mzone NMTOKEN #REQUIRED >
<!ATTLIST usesMetazone from CDATA #IMPLIED >
<!ATTLIST usesMetazone to CDATA #IMPLIED >
<!ATTLIST usesMetazone draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST usesMetazone references CDATA #IMPLIED >
<!ATTLIST usesMetazone alt CDATA #IMPLIED >


<!ELEMENT fields ( alias | (field*, special*)) >
<!ATTLIST fields draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST fields standard CDATA #IMPLIED >
<!ATTLIST fields references CDATA #IMPLIED >
<!ATTLIST fields alt CDATA #IMPLIED >
<!ATTLIST fields validSubLocales CDATA #IMPLIED >

<!ELEMENT field ( alias | (displayName*, relative*, special*)) >
<!ATTLIST field type ( era | year | month | week | day | weekday | dayperiod | hour | minute | second | zone ) #IMPLIED >
<!ATTLIST field draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST field standard CDATA #IMPLIED >
<!ATTLIST field references CDATA #IMPLIED >
<!ATTLIST field alt CDATA #IMPLIED >
<!ATTLIST field validSubLocales CDATA #IMPLIED >


<!ELEMENT relative (#PCDATA) >
<!ATTLIST relative type NMTOKEN #IMPLIED >
<!ATTLIST relative draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST relative references CDATA #IMPLIED >
<!ATTLIST relative alt CDATA #IMPLIED >
<!ATTLIST relative validSubLocales CDATA #IMPLIED >


<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT numbers (alias | (defaultNumberingSystem*, symbols?, decimalFormats?, scientificFormats?, percentFormats?, currencyFormats?, currencies?, special*)) >
<!ATTLIST numbers draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST numbers standard CDATA #IMPLIED >
<!ATTLIST numbers references CDATA #IMPLIED >
<!ATTLIST numbers alt CDATA #IMPLIED >
<!ATTLIST numbers validSubLocales CDATA #IMPLIED >

<!ELEMENT defaultNumberingSystem ( #PCDATA ) >
<!ATTLIST defaultNumberingSystem references CDATA #IMPLIED >
<!ATTLIST defaultNumberingSystem draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST defaultNumberingSystem alt CDATA #IMPLIED >

<!ELEMENT symbols (alias | (decimal*, group*, list*, percentSign*, nativeZeroDigit*, patternDigit*, plusSign*, minusSign*, exponential*, perMille*, infinity*, nan*, currencyDecimal*, currencyGroup*, special*)) >
<!ATTLIST symbols draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST symbols standard CDATA #IMPLIED >
<!ATTLIST symbols references CDATA #IMPLIED >
<!ATTLIST symbols alt CDATA #IMPLIED >
<!ATTLIST symbols validSubLocales CDATA #IMPLIED >

<!ELEMENT decimal ( #PCDATA ) >
<!ATTLIST decimal references CDATA #IMPLIED >
<!ATTLIST decimal draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST decimal alt CDATA #IMPLIED >

<!ELEMENT group ( #PCDATA ) >
<!ATTLIST group references CDATA #IMPLIED >
<!ATTLIST group draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST group alt CDATA #IMPLIED >

<!ELEMENT list ( #PCDATA ) >
<!ATTLIST list references CDATA #IMPLIED >
<!ATTLIST list draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST list alt CDATA #IMPLIED >

<!ELEMENT percentSign ( #PCDATA ) >
<!ATTLIST percentSign references CDATA #IMPLIED >
<!ATTLIST percentSign draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST percentSign alt CDATA #IMPLIED >

<!ELEMENT nativeZeroDigit ( #PCDATA ) >
<!ATTLIST nativeZeroDigit references CDATA #IMPLIED >
<!ATTLIST nativeZeroDigit draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST nativeZeroDigit alt CDATA #IMPLIED >

<!ELEMENT patternDigit ( #PCDATA ) >
<!ATTLIST patternDigit references CDATA #IMPLIED >
<!ATTLIST patternDigit draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST patternDigit alt CDATA #IMPLIED >

<!ELEMENT plusSign ( #PCDATA ) >
<!ATTLIST plusSign references CDATA #IMPLIED >
<!ATTLIST plusSign draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST plusSign alt CDATA #IMPLIED >

<!ELEMENT minusSign ( #PCDATA ) >
<!ATTLIST minusSign references CDATA #IMPLIED >
<!ATTLIST minusSign draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST minusSign alt CDATA #IMPLIED >

<!ELEMENT exponential ( #PCDATA ) >
<!ATTLIST exponential references CDATA #IMPLIED >
<!ATTLIST exponential draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST exponential alt CDATA #IMPLIED >

<!ELEMENT perMille ( #PCDATA ) >
<!ATTLIST perMille references CDATA #IMPLIED >
<!ATTLIST perMille draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST perMille alt CDATA #IMPLIED >

<!ELEMENT infinity ( #PCDATA ) >
<!ATTLIST infinity references CDATA #IMPLIED >
<!ATTLIST infinity draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST infinity alt CDATA #IMPLIED >

<!ELEMENT nan ( #PCDATA ) >
<!ATTLIST nan references CDATA #IMPLIED >
<!ATTLIST nan draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST nan alt CDATA #IMPLIED >

<!ELEMENT currencyDecimal ( #PCDATA ) >
<!ATTLIST currencyDecimal references CDATA #IMPLIED >
<!ATTLIST currencyDecimal draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencyDecimal alt CDATA #IMPLIED >

<!ELEMENT currencyGroup ( #PCDATA ) >
<!ATTLIST currencyGroup references CDATA #IMPLIED >
<!ATTLIST currencyGroup draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencyGroup alt CDATA #IMPLIED >

<!ELEMENT pattern ( #PCDATA ) >
<!ATTLIST pattern type NMTOKEN "standard" >
<!ATTLIST pattern draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST pattern numbers CDATA #IMPLIED >
<!ATTLIST pattern references CDATA #IMPLIED >
<!ATTLIST pattern alt CDATA #IMPLIED >

<!ELEMENT decimalFormats (alias | (default*, decimalFormatLength*, special*)) >
<!ATTLIST decimalFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST decimalFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT decimalFormatLength (alias | (default*, decimalFormat*, special*)) >
<!ATTLIST decimalFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST decimalFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST decimalFormatLength standard CDATA #IMPLIED >
<!ATTLIST decimalFormatLength references CDATA #IMPLIED >
<!ATTLIST decimalFormatLength alt CDATA #IMPLIED >
<!ATTLIST decimalFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT decimalFormat (alias | (pattern*, special*)) >
<!ATTLIST decimalFormat type NMTOKEN "standard" >
<!ATTLIST decimalFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST decimalFormat standard CDATA #IMPLIED >
<!ATTLIST decimalFormat references CDATA #IMPLIED >
<!ATTLIST decimalFormat alt CDATA #IMPLIED >
<!ATTLIST decimalFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT scientificFormats (alias | (default*, scientificFormatLength*, special*)) >
<!ATTLIST scientificFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST scientificFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT scientificFormatLength (alias | (default*, scientificFormat*, special*)) >
<!ATTLIST scientificFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST scientificFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST scientificFormatLength standard CDATA #IMPLIED >
<!ATTLIST scientificFormatLength references CDATA #IMPLIED >
<!ATTLIST scientificFormatLength alt CDATA #IMPLIED >
<!ATTLIST scientificFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT scientificFormat (alias | (pattern*, special*)) >
<!ATTLIST scientificFormat type NMTOKEN "standard" >
<!ATTLIST scientificFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST scientificFormat standard CDATA #IMPLIED >
<!ATTLIST scientificFormat references CDATA #IMPLIED >
<!ATTLIST scientificFormat alt CDATA #IMPLIED >
<!ATTLIST scientificFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT percentFormats (alias | (default*, percentFormatLength*, special*)) >
<!ATTLIST percentFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST percentFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT percentFormatLength (alias | (default*, percentFormat*, special*)) >
<!ATTLIST percentFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST percentFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST percentFormatLength standard CDATA #IMPLIED >
<!ATTLIST percentFormatLength references CDATA #IMPLIED >
<!ATTLIST percentFormatLength alt CDATA #IMPLIED >
<!ATTLIST percentFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT percentFormat (alias | (pattern*, special*)) >
<!ATTLIST percentFormat type NMTOKEN "standard" >
<!ATTLIST percentFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST percentFormat standard CDATA #IMPLIED >
<!ATTLIST percentFormat references CDATA #IMPLIED >
<!ATTLIST percentFormat alt CDATA #IMPLIED >
<!ATTLIST percentFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT currencyFormats (alias | (default*, currencySpacing*, currencyFormatLength*, unitPattern*, special*)) >
<!ATTLIST currencyFormats draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencyFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT currencySpacing (alias | (beforeCurrency*, afterCurrency*, special*)) >
<!ELEMENT beforeCurrency (alias | (currencyMatch*, surroundingMatch*, insertBetween*)) >
<!ELEMENT afterCurrency (alias | (currencyMatch*, surroundingMatch*, insertBetween*)) >

<!ELEMENT surroundingMatch ( #PCDATA ) >
<!ATTLIST surroundingMatch draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST surroundingMatch alt CDATA #IMPLIED >
<!ATTLIST surroundingMatch references CDATA #IMPLIED >

<!ELEMENT currencyMatch ( #PCDATA ) >
<!ATTLIST currencyMatch draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencyMatch alt CDATA #IMPLIED >
<!ATTLIST currencyMatch references CDATA #IMPLIED >

<!ELEMENT insertBetween ( #PCDATA ) >
<!ATTLIST insertBetween draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST insertBetween alt CDATA #IMPLIED >
<!ATTLIST insertBetween references CDATA #IMPLIED >

<!ELEMENT currencyFormatLength (alias | (default*, currencyFormat*, special*)) >
<!ATTLIST currencyFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST currencyFormatLength draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencyFormatLength standard CDATA #IMPLIED >
<!ATTLIST currencyFormatLength references CDATA #IMPLIED >
<!ATTLIST currencyFormatLength alt CDATA #IMPLIED >
<!ATTLIST currencyFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT currencyFormat (alias | (pattern*, special*)) >
<!ATTLIST currencyFormat type NMTOKEN "standard" >
<!ATTLIST currencyFormat draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencyFormat standard CDATA #IMPLIED >
<!ATTLIST currencyFormat references CDATA #IMPLIED >
<!ATTLIST currencyFormat alt CDATA #IMPLIED >
<!ATTLIST currencyFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT currencies (alias | (default?, currency*, special*)) >
<!ATTLIST currencies draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currencies validSubLocales CDATA #IMPLIED >

<!ELEMENT currency (alias | (((pattern+, displayName*, symbol*) | (displayName+, symbol*, pattern*) | (symbol+, pattern*))?, decimal*, group*, special*)) >
<!-- warning: pattern appears twice in the above. The first is for consistency with all other cases of
    pattern + displayName; the second is for backwards compatibility -->
<!ATTLIST currency type NMTOKEN "standard" >
<!ATTLIST currency draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currency references CDATA #IMPLIED >
<!ATTLIST currency alt CDATA #IMPLIED >
<!ATTLIST currency validSubLocales CDATA #IMPLIED >

<!ELEMENT symbol ( #PCDATA ) >
<!ATTLIST symbol draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST symbol references CDATA #IMPLIED >
<!ATTLIST symbol alt CDATA #IMPLIED >
<!ATTLIST symbol choice ( true | false ) #IMPLIED >
<!-- ######################################################### -->

<!ELEMENT units (alias | (unit*, special*)) >
<!ATTLIST units draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST units references CDATA #IMPLIED >
<!ATTLIST units alt CDATA #IMPLIED >
<!ATTLIST units validSubLocales CDATA #IMPLIED >

<!ELEMENT unit (alias | (unitPattern*, special*)) >
<!ATTLIST unit type NMTOKEN #REQUIRED >
<!ATTLIST unit draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST unit references CDATA #IMPLIED >
<!ATTLIST unit alt CDATA #IMPLIED >
<!ATTLIST unit validSubLocales CDATA #IMPLIED >

<!ELEMENT unitPattern ( #PCDATA ) >
<!ATTLIST unitPattern count (zero | one | two | few | many | other) #REQUIRED >
<!ATTLIST unitPattern draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST unitPattern references CDATA #IMPLIED >
<!ATTLIST unitPattern alt CDATA #IMPLIED >
<!ATTLIST unitPattern validSubLocales CDATA #IMPLIED >

<!-- ######################################################### -->

<!ELEMENT collations (alias | (default*, collation*, special*)) >
<!ATTLIST collations version NMTOKEN #IMPLIED >
<!ATTLIST collations draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST collations validSubLocales CDATA #IMPLIED >

<!ELEMENT collation (alias | (base?, settings?, suppress_contractions?, optimize?, rules?, special*)) >
<!ATTLIST collation type NMTOKEN "standard" >
<!ATTLIST collation draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST collation standard CDATA #IMPLIED >
<!ATTLIST collation references CDATA #IMPLIED >
<!ATTLIST collation alt CDATA #IMPLIED >
<!ATTLIST collation validSubLocales CDATA #IMPLIED >

<!ELEMENT base (alias|special) >

<!ELEMENT settings (special*) >
<!ATTLIST settings strength             ( primary | secondary | tertiary | quaternary | identical ) #IMPLIED >
<!ATTLIST settings alternate            ( non-ignorable | shifted ) #IMPLIED >
<!ATTLIST settings backwards            ( on | off)  #IMPLIED >
<!ATTLIST settings normalization        ( on | off ) #IMPLIED >
<!ATTLIST settings caseLevel            ( on | off ) #IMPLIED >
<!ATTLIST settings caseFirst            ( upper | lower | off ) #IMPLIED >
<!ATTLIST settings hiraganaQuarternary  ( on | off ) #IMPLIED >
<!ATTLIST settings hiraganaQuaternary   ( on | off ) #IMPLIED >
<!ATTLIST settings numeric              ( on | off ) #IMPLIED >
<!ATTLIST settings variableTop          CDATA #IMPLIED >

<!ELEMENT suppress_contractions (  #PCDATA | cp )* >

<!ELEMENT optimize ( #PCDATA | cp )* >

<!ELEMENT rules (alias | ( reset, ( reset | p | pc |  s | sc | t | tc | q | qc | i | ic | x)* )) >

<!ELEMENT reset ( #PCDATA | cp  | first_variable| last_variable | first_tertiary_ignorable | last_tertiary_ignorable | first_secondary_ignorable | last_secondary_ignorable | first_primary_ignorable | last_primary_ignorable | first_non_ignorable | last_non_ignorable | first_trailing | last_trailing )* >
<!ATTLIST reset before NMTOKEN #IMPLIED >

<!ELEMENT p  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT pc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT s  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT sc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT t  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT tc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT q  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT qc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT i  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT ic ( #PCDATA  | cp | last_variable )* >

<!ELEMENT x (context?, (  p | pc |  s | sc | t | tc | q | qc | i | ic )*, extend? )  >

<!ELEMENT extend ( #PCDATA | cp )* >

<!ELEMENT context (  #PCDATA | cp )* >

<!ELEMENT first_variable EMPTY >
<!ELEMENT last_variable EMPTY >
<!ELEMENT first_tertiary_ignorable EMPTY >
<!ELEMENT last_tertiary_ignorable EMPTY >
<!ELEMENT first_secondary_ignorable EMPTY >
<!ELEMENT last_secondary_ignorable EMPTY >
<!ELEMENT first_primary_ignorable EMPTY >
<!ELEMENT last_primary_ignorable EMPTY >
<!ELEMENT first_non_ignorable EMPTY >
<!ELEMENT last_non_ignorable EMPTY >
<!ELEMENT first_trailing EMPTY >
<!ELEMENT last_trailing EMPTY >

<!-- ######################################################### -->

<!ELEMENT posix (alias | (messages*, special*)) >
<!ATTLIST posix draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST posix references CDATA #IMPLIED >
<!ATTLIST posix validSubLocales CDATA #IMPLIED >

<!ELEMENT messages (alias | ( yesstr*, nostr*, yesexpr*, noexpr*)) >
<!ATTLIST messages draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST messages references CDATA #IMPLIED >
<!ATTLIST messages alt CDATA #IMPLIED >
<!ATTLIST messages validSubLocales CDATA #IMPLIED >

<!ELEMENT yesstr ( #PCDATA ) >
<!ATTLIST yesstr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST yesstr references CDATA #IMPLIED >
<!ATTLIST yesstr alt CDATA #IMPLIED >

<!ELEMENT nostr ( #PCDATA ) >
<!ATTLIST nostr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST nostr references CDATA #IMPLIED >
<!ATTLIST nostr alt CDATA #IMPLIED >

<!-- START_DEPRECATED -->
<!ELEMENT yesexpr ( #PCDATA ) >
<!ATTLIST yesexpr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST yesexpr references CDATA #IMPLIED >
<!ATTLIST yesexpr alt CDATA #IMPLIED >

<!ELEMENT noexpr ( #PCDATA ) >
<!ATTLIST noexpr draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST noexpr references CDATA #IMPLIED >
<!ATTLIST noexpr alt CDATA #IMPLIED >
<!-- END_DEPRECATED -->

<!ELEMENT segmentations ( alias | segmentation*) >
<!ATTLIST segmentations draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->
<!ATTLIST segmentations alt CDATA #IMPLIED >
<!ATTLIST segmentations validSubLocales CDATA #IMPLIED >
<!ATTLIST segmentations references CDATA #IMPLIED >

<!ELEMENT segmentation ( alias | (variables?, segmentRules?) | special*) >
<!ATTLIST segmentation type NMTOKEN #REQUIRED >
<!ATTLIST segmentation draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->
<!ATTLIST segmentation alt CDATA #IMPLIED >
<!ATTLIST segmentation validSubLocales CDATA #IMPLIED >
<!ATTLIST segmentation references CDATA #IMPLIED >

<!ELEMENT variables ( alias | variable*) >

<!ELEMENT variable ( #PCDATA ) >
<!ATTLIST variable id CDATA #REQUIRED >
<!ATTLIST variable draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->
<!ATTLIST variable alt CDATA #IMPLIED >
<!ATTLIST variable references CDATA #IMPLIED >

<!ELEMENT segmentRules ( alias | rule*) >

<!ELEMENT rule ( #PCDATA ) >
<!ATTLIST rule id NMTOKEN #REQUIRED >
<!ATTLIST rule draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->
<!ATTLIST rule alt CDATA #IMPLIED >
<!ATTLIST rule references CDATA #IMPLIED >

<!ELEMENT rbnf ( alias | rulesetGrouping*) >

<!ELEMENT rulesetGrouping ( alias | ruleset*) >
<!ATTLIST rulesetGrouping type NMTOKEN #REQUIRED>
<!ATTLIST rulesetGrouping draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->

<!ELEMENT ruleset ( alias | rbnfrule*) >
<!ATTLIST ruleset type NMTOKEN #REQUIRED>
<!ATTLIST ruleset access ( public | private ) #IMPLIED >
<!ATTLIST ruleset allowsParsing ( true | false ) #IMPLIED >
<!ATTLIST ruleset draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->

<!ELEMENT rbnfrule ( #PCDATA ) >
<!ATTLIST rbnfrule value CDATA #REQUIRED >
<!ATTLIST rbnfrule radix CDATA #IMPLIED >
<!ATTLIST rbnfrule decexp CDATA #IMPLIED >
<!ATTLIST rbnfrule draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->

<!ELEMENT references ( reference* ) >
<!ELEMENT reference ( #PCDATA ) >
<!ATTLIST reference type NMTOKEN #REQUIRED>
<!ATTLIST reference standard ( true | false ) #IMPLIED >
<!ATTLIST reference uri CDATA #IMPLIED >
<!ATTLIST reference draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST reference alt CDATA #IMPLIED >
