common/dtd/ldml.dtd

<!--

    Copyright (c) 2002-2003 International Business Machines Corporation and others. All rights reserved.

    Permission is hereby granted, free of charge, to any person obtaining a copy of the LDML format and associated documentation files (the "Format"), to deal in the Format without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, and/or sell copies of the Format, and to permit persons to whom the Format is furnished to do so, provided that both the above copyright notice(s) and this permission notice appear in supporting documentation.

    THE FORMAT IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF THIRD PARTY RIGHTS. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR HOLDERS INCLUDED IN THIS NOTICE BE LIABLE FOR ANY CLAIM, OR ANY SPECIAL INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS FORMAT.

    Except as contained in this notice, the name of a copyright holder shall not be used in advertising or otherwise to promote the sale, use or other dealings in this Format without prior written authorization of the copyright holder.

    All trademarks and registered trademarks mentioned herein are the property of their respective owners.
-->

<!ELEMENT ldml (identity, (alias |(localeDisplayNames?, layout?, characters?, delimiters?, measurement?, dates?, numbers?, collations?, posix?, special*))) >
<!ATTLIST ldml
   version          CDATA              #FIXED "1.2"
>
<!ATTLIST ldml draft ( true | false ) #IMPLIED >

<!-- ######################################################### -->

<!ELEMENT identity (alias | (version, generation, language, script?, territory?, variant?, special*) ) >

<!ELEMENT version ( #PCDATA ) >
<!ATTLIST version number NMTOKEN #REQUIRED >

<!ELEMENT generation EMPTY >
<!ATTLIST generation date NMTOKEN #REQUIRED >

<!ELEMENT language ( #PCDATA ) >
<!ATTLIST language type NMTOKEN #REQUIRED >
<!ATTLIST language draft ( true | false ) #IMPLIED >
<!ATTLIST language references CDATA #IMPLIED >
<!ATTLIST language alt  CDATA #IMPLIED >

<!ELEMENT script ( #PCDATA ) >
<!ATTLIST script type NMTOKEN #REQUIRED >
<!ATTLIST script draft ( true | false ) #IMPLIED >
<!ATTLIST script references CDATA #IMPLIED >
<!ATTLIST script alt  CDATA #IMPLIED >

<!ELEMENT territory ( #PCDATA ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >
<!ATTLIST territory draft ( true | false ) #IMPLIED >
<!ATTLIST territory references CDATA #IMPLIED >
<!ATTLIST territory alt  CDATA #IMPLIED >

<!ELEMENT variant ( #PCDATA ) >
<!ATTLIST variant type NMTOKEN #REQUIRED >
<!ATTLIST variant draft ( true | false ) #IMPLIED >
<!ATTLIST variant references CDATA #IMPLIED >
<!ATTLIST variant alt  CDATA #IMPLIED >

<!-- ######################################################### -->

<!-- These elements are common to almost all elements defined  -->
<!-- ######################################################### -->

<!ELEMENT alias  (special*) >
<!ATTLIST alias source NMTOKEN #REQUIRED >
<!ATTLIST alias path CDATA #IMPLIED>

<!ELEMENT default (special*) >
<!ATTLIST default type NMTOKEN #REQUIRED >

<!ELEMENT special ANY >

<!-- This element can occur anywhere there may be localizable data -->
<!ELEMENT cp (special*) >
<!ATTLIST cp hex NMTOKEN #REQUIRED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT localeDisplayNames (alias | (languages?, scripts?, territories?, variants?, keys?, types?, special*)) >
<!ATTLIST localeDisplayNames draft ( true | false ) #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more language -->
<!ELEMENT languages ( alias | (language | special)* ) >
<!ATTLIST languages draft ( true | false ) #IMPLIED  >
<!ATTLIST languages standard CDATA #IMPLIED >
<!ATTLIST languages references CDATA #IMPLIED >
<!ATTLIST languages validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more script -->
<!ELEMENT scripts (alias |(script | special)* ) >
<!ATTLIST scripts draft ( true | false ) #IMPLIED >
<!ATTLIST scripts standard CDATA #IMPLIED >
<!ATTLIST scripts references CDATA #IMPLIED >
<!ATTLIST scripts validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more territory -->
<!ELEMENT territories ( alias | (territory | special)*) >
<!ATTLIST territories draft ( true | false ) #IMPLIED >
<!ATTLIST territories standard CDATA #IMPLIED >
<!ATTLIST territories references CDATA #IMPLIED >
<!ATTLIST territories validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more variant -->
<!ELEMENT variants ( alias |(variant | special)*  ) >
<!ATTLIST variants draft ( true | false ) #IMPLIED >
<!ATTLIST variants standard CDATA #IMPLIED >
<!ATTLIST variants references CDATA #IMPLIED >
<!ATTLIST variants validSubLocales CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more key -->
<!ELEMENT keys ( alias | (key | special)*) >
<!ATTLIST keys draft ( true | false ) #IMPLIED >
<!ATTLIST keys standard CDATA #IMPLIED >
<!ATTLIST keys references CDATA #IMPLIED >
<!ATTLIST keys validSubLocales CDATA #IMPLIED >

<!ELEMENT key ( #PCDATA ) >
<!ATTLIST key type NMTOKEN #REQUIRED >
<!ATTLIST key draft ( true | false ) #IMPLIED >
<!ATTLIST key references CDATA #IMPLIED >
<!ATTLIST key alt CDATA #IMPLIED >

<!-- Either 1 alias OR any specials, any order, zero or more type -->
<!ELEMENT types ( alias | (type | special)* ) >
<!ATTLIST types draft ( true | false ) #IMPLIED >
<!ATTLIST types standard CDATA #IMPLIED >
<!ATTLIST types references CDATA #IMPLIED >
<!ATTLIST types validSubLocales CDATA #IMPLIED >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST type type NMTOKEN #REQUIRED >
<!ATTLIST type key NMTOKEN #IMPLIED >
<!ATTLIST type draft ( true | false ) #IMPLIED >
<!ATTLIST type references CDATA #IMPLIED >
<!ATTLIST type alt CDATA #IMPLIED >



<!-- ######################################################### -->


<!-- ######################################################### -->
<!-- layout and orientation are script specific, so validSublocales attribute is not required -->
<!ELEMENT layout ( alias | (orientation?, special*) ) >
<!ATTLIST layout draft ( true | false ) #IMPLIED >
<!ATTLIST layout standard CDATA #IMPLIED >
<!ATTLIST layout references CDATA #IMPLIED >

<!ELEMENT orientation ( special* ) >
<!ATTLIST orientation characters ( left-to-right | right-to-left | top-to-bottom | bottom-to-top ) "left-to-right" >
<!ATTLIST orientation lines ( left-to-right | right-to-left | top-to-bottom | bottom-to-top ) "top-to-bottom" >
<!ATTLIST orientation draft ( true | false ) #IMPLIED >
<!ATTLIST orientation standard CDATA #IMPLIED >
<!ATTLIST orientation references CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT characters (alias | (exemplarCharacters*, mapping*, special*))  >
<!ATTLIST characters draft ( true | false ) #IMPLIED >

<!ELEMENT exemplarCharacters ( #PCDATA | cp )* >
<!ATTLIST exemplarCharacters type ( auxiliary | standard ) #IMPLIED >
<!ATTLIST exemplarCharacters draft ( true | false ) #IMPLIED >
<!ATTLIST exemplarCharacters standard CDATA #IMPLIED >
<!ATTLIST exemplarCharacters references CDATA #IMPLIED >
<!ATTLIST exemplarCharacters alt CDATA #IMPLIED >
<!ATTLIST exemplarCharacters validSubLocales CDATA #IMPLIED >

<!ELEMENT mapping (special*) >
<!ATTLIST mapping registry NMTOKEN #REQUIRED >
<!ATTLIST mapping type NMTOKEN #IMPLIED >
<!ATTLIST mapping draft ( true | false ) #IMPLIED >
<!ATTLIST mapping standard CDATA #IMPLIED >
<!ATTLIST mapping references CDATA #IMPLIED >
<!ATTLIST mapping alt CDATA #IMPLIED >
<!ATTLIST mapping validSubLocales CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT delimiters (alias | (quotationStart*, quotationEnd*, alternateQuotationStart*, alternateQuotationEnd*, special*)) >
<!ATTLIST delimiters draft ( true | false ) #IMPLIED >
<!ATTLIST delimiters standard CDATA #IMPLIED >
<!ATTLIST delimiters references CDATA #IMPLIED >
<!ATTLIST delimiters alt CDATA #IMPLIED >
<!ATTLIST delimiters validSubLocales CDATA #IMPLIED >

<!ELEMENT quotationStart ( #PCDATA | cp )* >
<!ATTLIST quotationStart draft ( true | false ) #IMPLIED >
<!ATTLIST quotationStart references CDATA #IMPLIED >
<!ATTLIST quotationStart alt CDATA #IMPLIED >

<!ELEMENT quotationEnd ( #PCDATA | cp )* >
<!ATTLIST quotationEnd draft ( true | false ) #IMPLIED >
<!ATTLIST quotationEnd references CDATA #IMPLIED >
<!ATTLIST quotationEnd alt CDATA #IMPLIED >
 
<!ELEMENT alternateQuotationStart ( #PCDATA | cp )* >
<!ATTLIST alternateQuotationStart draft ( true | false ) #IMPLIED >
<!ATTLIST alternateQuotationStart references CDATA #IMPLIED >
<!ATTLIST alternateQuotationStart alt CDATA #IMPLIED >

<!ELEMENT alternateQuotationEnd ( #PCDATA | cp )* >
<!ATTLIST alternateQuotationEnd draft ( true | false ) #IMPLIED >
<!ATTLIST alternateQuotationEnd references CDATA #IMPLIED >
<!ATTLIST alternateQuotationEnd alt CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT measurement (alias | (measurementSystem?, paperSize?, special*)) >
<!ATTLIST measurement draft ( true | false ) #IMPLIED >
<!ATTLIST measurement standard CDATA #IMPLIED >
<!ATTLIST measurement references CDATA #IMPLIED >
<!ATTLIST measurement alt CDATA #IMPLIED >
<!ATTLIST measurement validSubLocales CDATA #IMPLIED >

<!ELEMENT paperSize (alias | (height?, width?, special*)) >
<!ATTLIST paperSize draft ( true | false ) #IMPLIED >
<!ATTLIST paperSize standard CDATA #IMPLIED >
<!ATTLIST paperSize references CDATA #IMPLIED >
<!ATTLIST paperSize alt CDATA #IMPLIED >
<!ATTLIST paperSize validSubLocales CDATA #IMPLIED >

<!ELEMENT height ( #PCDATA ) >
<!ATTLIST height draft ( true | false ) #IMPLIED >
<!ATTLIST height references CDATA #IMPLIED >
<!ATTLIST height alt CDATA #IMPLIED >

<!ELEMENT width ( #PCDATA ) >
<!ATTLIST width draft ( true | false ) #IMPLIED >
<!ATTLIST width references CDATA #IMPLIED >
<!ATTLIST width alt CDATA #IMPLIED >

<!ELEMENT measurementSystem (special*) >
<!ATTLIST measurementSystem type ( metric | US | UK ) #REQUIRED >
<!ATTLIST measurementSystem draft ( true | false ) #IMPLIED >
<!ATTLIST measurementSystem standard CDATA #IMPLIED >
<!ATTLIST measurementSystem references CDATA #IMPLIED >
<!ATTLIST measurementSystem alt CDATA #IMPLIED >
<!ATTLIST measurementSystem validSubLocales CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT dates (alias | (localizedPatternChars*, calendars?, timeZoneNames?, special*)) >
<!ATTLIST dates draft ( true | false ) #IMPLIED >
<!ATTLIST dates standard CDATA #IMPLIED >
<!ATTLIST dates references CDATA #IMPLIED >
<!ATTLIST dates alt CDATA #IMPLIED >
<!ATTLIST dates validSubLocales CDATA #IMPLIED >

<!ELEMENT localizedPatternChars ( #PCDATA | cp )* >
<!ATTLIST localizedPatternChars draft ( true | false ) #IMPLIED >
<!ATTLIST localizedPatternChars standard CDATA #IMPLIED >
<!ATTLIST localizedPatternChars references CDATA #IMPLIED >
<!ATTLIST localizedPatternChars alt CDATA #IMPLIED >
<!ATTLIST localizedPatternChars validSubLocales CDATA #IMPLIED >

<!ELEMENT calendars (alias | (default?, calendar*, special*)) >
<!ATTLIST calendars draft ( true | false ) #IMPLIED >
<!ATTLIST calendars validSubLocales CDATA #IMPLIED >

<!ELEMENT calendar (alias | (months?, monthNames?, monthAbbr?, days?, dayNames?, dayAbbr?, week?, am?, pm?, eras?, dateFormats?, timeFormats?, dateTimeFormats?, fields*, special*))>
<!ATTLIST calendar type NMTOKEN #REQUIRED >
<!ATTLIST calendar draft ( true | false ) #IMPLIED >
<!ATTLIST calendar standard CDATA #IMPLIED >
<!ATTLIST calendar references CDATA #IMPLIED >
<!ATTLIST calendar alt CDATA #IMPLIED >
<!ATTLIST calendar validSubLocales CDATA #IMPLIED >

<!ELEMENT months ( alias | (default?, monthContext*, special*)) >
<!ATTLIST months draft ( true | false ) #IMPLIED >
<!ATTLIST months standard CDATA #IMPLIED >
<!ATTLIST months references CDATA #IMPLIED >
<!ATTLIST months alt CDATA #IMPLIED >
<!ATTLIST months validSubLocales CDATA #IMPLIED >

<!ELEMENT monthContext ( alias | (default?, monthWidth*, special*)) >
<!ATTLIST monthContext type ( format | stand-alone ) #REQUIRED >
<!ATTLIST monthContext draft ( true | false ) #IMPLIED >
<!ATTLIST monthContext standard CDATA #IMPLIED >
<!ATTLIST monthContext references CDATA #IMPLIED >
<!ATTLIST monthContext alt CDATA #IMPLIED >
<!ATTLIST monthContext validSubLocales CDATA #IMPLIED >

<!ELEMENT monthWidth ( alias | (month*, special*)) >
<!ATTLIST monthWidth type ( abbreviated| narrow | wide) #REQUIRED >
<!ATTLIST monthWidth draft ( true | false ) #IMPLIED >
<!ATTLIST monthWidth standard CDATA #IMPLIED >
<!ATTLIST monthWidth references CDATA #IMPLIED >
<!ATTLIST monthWidth alt CDATA #IMPLIED >
<!ATTLIST monthWidth validSubLocales CDATA #IMPLIED >

<!ELEMENT month ( #PCDATA | cp )* >
<!ATTLIST month type ( 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 ) #REQUIRED >
<!ATTLIST month references CDATA #IMPLIED >
<!ATTLIST month alt CDATA #IMPLIED >
<!ATTLIST month draft ( true | false ) #IMPLIED >

<!-- START_DEPRECATED -->
<!ELEMENT monthNames ( alias | (month*, special*)) >
<!ATTLIST monthNames draft ( true | false ) #IMPLIED >

<!ELEMENT monthAbbr ( alias | (month*, special*)) >
<!ATTLIST monthAbbr draft ( true | false ) #IMPLIED >
<!-- END_DEPRECATED-->

<!ELEMENT days ( alias | (default?, dayContext*, special*)) >
<!ATTLIST days draft ( true | false ) #IMPLIED >
<!ATTLIST days standard CDATA #IMPLIED >
<!ATTLIST days references CDATA #IMPLIED >
<!ATTLIST days alt CDATA #IMPLIED >
<!ATTLIST days validSubLocales CDATA #IMPLIED >

<!ELEMENT dayContext ( alias | (default?, dayWidth*, special*)) >
<!ATTLIST dayContext draft ( true | false ) #IMPLIED >
<!ATTLIST dayContext type ( format | stand-alone ) #REQUIRED >
<!ATTLIST dayContext standard CDATA #IMPLIED >
<!ATTLIST dayContext references CDATA #IMPLIED >
<!ATTLIST dayContext alt CDATA #IMPLIED >
<!ATTLIST dayContext validSubLocales CDATA #IMPLIED >

<!ELEMENT dayWidth ( alias | (day*, special*)) >
<!ATTLIST dayWidth draft ( true | false ) #IMPLIED >
<!ATTLIST dayWidth type NMTOKEN #REQUIRED >
<!ATTLIST dayWidth standard CDATA #IMPLIED >
<!ATTLIST dayWidth references CDATA #IMPLIED >
<!ATTLIST dayWidth alt CDATA #IMPLIED >
<!ATTLIST dayWidth validSubLocales CDATA #IMPLIED >

<!ELEMENT day ( #PCDATA ) >
<!ATTLIST day type ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >
<!ATTLIST day references CDATA #IMPLIED >
<!ATTLIST day draft ( true | false ) #IMPLIED >
<!ATTLIST day alt CDATA #IMPLIED >

<!-- START_DEPRECATED-->

<!ELEMENT dayAbbr ( alias | (day*, special*)) >
<!ATTLIST dayAbbr draft ( true | false ) #IMPLIED >

<!ELEMENT dayNames ( alias | (day*, special*)) >
<!ATTLIST dayNames draft ( true | false ) #IMPLIED >

<!-- END_DEPRECATED-->

<!ELEMENT week (alias | (minDays?, firstDay?, weekendStart?, weekendEnd?, special*)) >
<!ATTLIST week draft ( true | false ) #IMPLIED >
<!ATTLIST week standard CDATA #IMPLIED >
<!ATTLIST week references CDATA #IMPLIED >
<!ATTLIST week alt CDATA #IMPLIED >
<!ATTLIST week validSubLocales CDATA #IMPLIED >

<!ELEMENT minDays (special*) >
<!ATTLIST minDays count ( 1 | 2 | 3 | 4 | 5 | 6 | 7 ) #REQUIRED >
<!ATTLIST minDays draft ( true | false ) #IMPLIED >
<!ATTLIST minDays references CDATA #IMPLIED >
<!ATTLIST minDays alt CDATA #IMPLIED >

<!ELEMENT firstDay (special*) >
<!ATTLIST firstDay day NMTOKEN #REQUIRED >
<!ATTLIST firstDay draft ( true | false ) #IMPLIED >
<!ATTLIST firstDay references CDATA #IMPLIED >
<!ATTLIST firstDay alt CDATA #IMPLIED >

<!ELEMENT weekendStart (special*) >
<!ATTLIST weekendStart day ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >
<!ATTLIST weekendStart time CDATA "00:00" >
<!ATTLIST weekendStart draft ( true | false ) #IMPLIED >
<!ATTLIST weekendStart references CDATA #IMPLIED >
<!ATTLIST weekendStart alt CDATA #IMPLIED >

<!ELEMENT weekendEnd (special*) >
<!ATTLIST weekendEnd day ( sun | mon | tue | wed | thu | fri | sat ) #REQUIRED >
<!ATTLIST weekendEnd time CDATA "24:00" >
<!ATTLIST weekendEnd draft ( true | false ) #IMPLIED >
<!ATTLIST weekendEnd references CDATA #IMPLIED >
<!ATTLIST weekendEnd alt CDATA #IMPLIED >

<!ELEMENT am ( #PCDATA ) >
<!ATTLIST am draft ( true | false ) #IMPLIED >
<!ATTLIST am references CDATA #IMPLIED >
<!ATTLIST am alt CDATA #IMPLIED >
<!ATTLIST am validSubLocales CDATA #IMPLIED >

<!ELEMENT pm ( #PCDATA ) >
<!ATTLIST pm draft ( true | false ) #IMPLIED >
<!ATTLIST pm references CDATA #IMPLIED >
<!ATTLIST pm alt CDATA #IMPLIED >
<!ATTLIST pm validSubLocales CDATA #IMPLIED >

<!ELEMENT eras   (alias | (eraNames?, eraAbbr?, special*)) >
<!ATTLIST eras draft ( true | false ) #IMPLIED >
<!ATTLIST eras standard CDATA #IMPLIED >
<!ATTLIST eras references CDATA #IMPLIED >
<!ATTLIST eras alt CDATA #IMPLIED >
<!ATTLIST eras validSubLocales CDATA #IMPLIED >

<!ELEMENT eraNames ( alias | (era*, special*) ) >
<!ATTLIST eraNames draft ( true | false ) #IMPLIED >
<!ATTLIST eraNames references CDATA #IMPLIED >
<!ATTLIST eraNames alt CDATA #IMPLIED >
<!ATTLIST eraNames validSubLocales CDATA #IMPLIED >

<!ELEMENT eraAbbr ( alias | (era*, special*) ) >
<!ATTLIST eraAbbr draft ( true | false ) #IMPLIED >
<!ATTLIST eraAbbr references CDATA #IMPLIED >
<!ATTLIST eraAbbr alt CDATA #IMPLIED >
<!ATTLIST eraAbbr validSubLocales CDATA #IMPLIED >

<!ELEMENT era (#PCDATA) >
<!ATTLIST era type NMTOKEN #REQUIRED >
<!ATTLIST era draft ( true | false ) #IMPLIED >
<!ATTLIST era references CDATA #IMPLIED >
<!ATTLIST era alt CDATA #IMPLIED >

<!ELEMENT dateFormats (alias | (default?, dateFormatLength*, special*)) >
<!ATTLIST dateFormats draft ( true | false ) #IMPLIED >
<!ATTLIST dateFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT dateFormatLength (alias | (default?, dateFormat*, special*)) >
<!ATTLIST dateFormatLength type ( full | long | medium | short ) #REQUIRED >
<!ATTLIST dateFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST dateFormatLength standard CDATA #IMPLIED >
<!ATTLIST dateFormatLength references CDATA #IMPLIED >
<!ATTLIST dateFormatLength alt CDATA #IMPLIED >
<!ATTLIST dateFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT dateFormat (alias | (pattern*, displayName?, special*))  >
<!ATTLIST dateFormat type NMTOKEN "standard">
<!ATTLIST dateFormat draft ( true | false ) #IMPLIED >
<!ATTLIST dateFormat standard CDATA #IMPLIED >
<!ATTLIST dateFormat references CDATA #IMPLIED >
<!ATTLIST dateFormat alt CDATA #IMPLIED >
<!ATTLIST dateFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT displayName ( #PCDATA ) >
<!ATTLIST displayName draft ( true | false ) #IMPLIED >
<!ATTLIST displayName references CDATA #IMPLIED >
<!ATTLIST displayName alt CDATA #IMPLIED >

<!ELEMENT timeFormats (alias | (default?, timeFormatLength*, special*)) >
<!ATTLIST timeFormats draft ( true | false ) #IMPLIED >
<!ATTLIST timeFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT timeFormatLength (alias | (default?, timeFormat*, special*)) >
<!ATTLIST timeFormatLength type ( full | long | medium | short ) #REQUIRED >
<!ATTLIST timeFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST timeFormatLength standard CDATA #IMPLIED >
<!ATTLIST timeFormatLength references CDATA #IMPLIED >
<!ATTLIST timeFormatLength alt CDATA #IMPLIED >
<!ATTLIST timeFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT timeFormat (alias | (pattern*, displayName?, special*)) >
<!ATTLIST timeFormat type NMTOKEN "standard" >
<!ATTLIST timeFormat draft ( true | false ) #IMPLIED >
<!ATTLIST timeFormat standard CDATA #IMPLIED >
<!ATTLIST timeFormat references CDATA #IMPLIED >
<!ATTLIST timeFormat alt CDATA #IMPLIED >
<!ATTLIST timeFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT dateTimeFormats (alias | (default?, dateTimeFormatLength*, special*)) >
<!ATTLIST dateTimeFormats draft ( true | false ) #IMPLIED >
<!ATTLIST dateTimeFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT dateTimeFormatLength (alias | (default?, dateTimeFormat*, special*)) >
<!ATTLIST dateTimeFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST dateTimeFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST dateTimeFormatLength standard CDATA #IMPLIED >
<!ATTLIST dateTimeFormatLength references CDATA #IMPLIED >
<!ATTLIST dateTimeFormatLength alt CDATA #IMPLIED >
<!ATTLIST dateTimeFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT dateTimeFormat (alias | (pattern*, displayName?, special*)) >
<!ATTLIST dateTimeFormat type NMTOKEN "standard"  >
<!ATTLIST dateTimeFormat draft ( true | false ) #IMPLIED >
<!ATTLIST dateTimeFormat standard CDATA #IMPLIED >
<!ATTLIST dateTimeFormat references CDATA #IMPLIED >
<!ATTLIST dateTimeFormat alt CDATA #IMPLIED >
<!ATTLIST dateTimeFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT timeZoneNames (alias | (hourFormat?, hoursFormat?, gmtFormat?, regionFormat?, fallbackFormat?, abbreviationFallback?, preferenceOrdering?, default?, zone*, special*)) >
<!ATTLIST timeZoneNames draft ( true | false ) #IMPLIED >
<!ATTLIST timeZoneNames validSubLocales CDATA #IMPLIED >

<!ELEMENT hourFormat ( #PCDATA ) >
<!ELEMENT hoursFormat ( #PCDATA ) >
<!ELEMENT gmtFormat ( #PCDATA ) >
<!ELEMENT regionFormat ( #PCDATA ) >
<!ELEMENT fallbackFormat ( #PCDATA ) >

<!ELEMENT abbreviationFallback (special) >
<!ATTLIST abbreviationFallback type ( GMT | standard ) #REQUIRED >

<!ELEMENT preferenceOrdering (special) >
<!ATTLIST preferenceOrdering type NMTOKEN #REQUIRED >

<!ELEMENT zone (alias | ( long*, short*, exemplarCity*, special*)) >
<!ATTLIST zone type CDATA #REQUIRED >
<!ATTLIST zone draft ( true | false ) #IMPLIED >
<!ATTLIST zone standard CDATA #IMPLIED >
<!ATTLIST zone references CDATA #IMPLIED >
<!ATTLIST zone alt CDATA #IMPLIED >
<!ATTLIST zone validSubLocales CDATA #IMPLIED >

<!ELEMENT long (alias | (generic?, standard?, daylight?, special*)) >
<!ATTLIST long draft ( true | false ) #IMPLIED >
<!ATTLIST long references CDATA #IMPLIED >
<!ATTLIST long alt CDATA #IMPLIED >
<!ATTLIST long validSubLocales CDATA #IMPLIED >

<!ELEMENT generic ( #PCDATA ) >
<!ATTLIST generic draft ( true | false ) #IMPLIED >
<!ATTLIST generic references CDATA #IMPLIED >
<!ATTLIST generic alt CDATA #IMPLIED >

<!ELEMENT standard ( #PCDATA ) >
<!ATTLIST standard draft ( true | false ) #IMPLIED >
<!ATTLIST standard references CDATA #IMPLIED >
<!ATTLIST standard alt CDATA #IMPLIED >

<!ELEMENT short (alias | (generic?, standard?, daylight?, special*)) >
<!ATTLIST short draft ( true | false ) #IMPLIED >
<!ATTLIST short references CDATA #IMPLIED >
<!ATTLIST short alt CDATA #IMPLIED >
<!ATTLIST short validSubLocales CDATA #IMPLIED >

<!ELEMENT daylight ( #PCDATA ) >
<!ATTLIST daylight draft ( true | false ) #IMPLIED >
<!ATTLIST daylight references CDATA #IMPLIED >
<!ATTLIST daylight alt CDATA #IMPLIED >

<!ELEMENT exemplarCity ( #PCDATA ) >
<!ATTLIST exemplarCity draft ( true | false ) #IMPLIED >
<!ATTLIST exemplarCity references CDATA #IMPLIED >
<!ATTLIST exemplarCity alt CDATA #IMPLIED >

<!ELEMENT fields ( alias | (field*, special*)) >
<!ATTLIST fields draft ( true | false ) #IMPLIED >
<!ATTLIST fields standard CDATA #IMPLIED >
<!ATTLIST fields references CDATA #IMPLIED >
<!ATTLIST fields alt CDATA #IMPLIED >
<!ATTLIST fields validSubLocales CDATA #IMPLIED >

<!ELEMENT field ( alias | (displayName?, relative*, special*)) >
<!ATTLIST field type ( era | year | month | week | day | weekday | dayperiod | hour | minute | second | zone ) #IMPLIED >
<!ATTLIST field draft ( true | false ) #IMPLIED >
<!ATTLIST field standard CDATA #IMPLIED >
<!ATTLIST field references CDATA #IMPLIED >
<!ATTLIST field alt CDATA #IMPLIED >
<!ATTLIST field validSubLocales CDATA #IMPLIED >

<!ELEMENT relative (#PCDATA) >
<!ATTLIST relative type NMTOKEN #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT numbers (alias | (symbols?, decimalFormats?, scientificFormats?, percentFormats?, currencyFormats?, currencies?, special*)) >
<!ATTLIST numbers draft ( true | false ) #IMPLIED >
<!ATTLIST numbers standard CDATA #IMPLIED >
<!ATTLIST numbers references CDATA #IMPLIED >
<!ATTLIST numbers alt CDATA #IMPLIED >
<!ATTLIST numbers validSubLocales CDATA #IMPLIED >

<!ELEMENT symbols (alias | (decimal?, group?, list?, percentSign?, nativeZeroDigit?, patternDigit?, plusSign?, minusSign?, exponential?, perMille?, infinity?, nan?, special*)) >
<!ATTLIST symbols draft ( true | false ) #IMPLIED >
<!ATTLIST symbols standard CDATA #IMPLIED >
<!ATTLIST symbols references CDATA #IMPLIED >
<!ATTLIST symbols alt CDATA #IMPLIED >
<!ATTLIST symbols validSubLocales CDATA #IMPLIED >

<!ELEMENT decimal ( #PCDATA ) >
<!ATTLIST decimal references CDATA #IMPLIED >
<!ATTLIST decimal alt CDATA #IMPLIED >

<!ELEMENT group ( #PCDATA ) >
<!ATTLIST group references CDATA #IMPLIED >
<!ATTLIST group alt CDATA #IMPLIED >

<!ELEMENT list ( #PCDATA ) >
<!ATTLIST list references CDATA #IMPLIED >
<!ATTLIST list alt CDATA #IMPLIED >

<!ELEMENT percentSign ( #PCDATA ) >
<!ATTLIST percentSign references CDATA #IMPLIED >
<!ATTLIST percentSign alt CDATA #IMPLIED >

<!ELEMENT nativeZeroDigit ( #PCDATA ) >
<!ATTLIST nativeZeroDigit references CDATA #IMPLIED >
<!ATTLIST nativeZeroDigit alt CDATA #IMPLIED >

<!ELEMENT patternDigit ( #PCDATA ) >
<!ATTLIST patternDigit references CDATA #IMPLIED >
<!ATTLIST patternDigit alt CDATA #IMPLIED >

<!ELEMENT plusSign ( #PCDATA ) >
<!ATTLIST plusSign references CDATA #IMPLIED >
<!ATTLIST plusSign alt CDATA #IMPLIED >

<!ELEMENT minusSign ( #PCDATA ) >
<!ATTLIST minusSign references CDATA #IMPLIED >
<!ATTLIST minusSign alt CDATA #IMPLIED >

<!ELEMENT exponential ( #PCDATA ) >
<!ATTLIST exponential references CDATA #IMPLIED >
<!ATTLIST exponential alt CDATA #IMPLIED >

<!ELEMENT perMille ( #PCDATA ) >
<!ATTLIST perMille references CDATA #IMPLIED >
<!ATTLIST perMille alt CDATA #IMPLIED >

<!ELEMENT infinity ( #PCDATA ) >
<!ATTLIST infinity references CDATA #IMPLIED >
<!ATTLIST infinity alt CDATA #IMPLIED >

<!ELEMENT nan ( #PCDATA ) >
<!ATTLIST nan references CDATA #IMPLIED >
<!ATTLIST nan alt CDATA #IMPLIED >

<!ELEMENT pattern ( #PCDATA ) >
<!ATTLIST pattern type NMTOKEN "standard" >
<!ATTLIST pattern draft ( true | false ) #IMPLIED >
<!ATTLIST pattern references CDATA #IMPLIED >
<!ATTLIST pattern alt CDATA #IMPLIED >

<!ELEMENT decimalFormats (alias | (default?, decimalFormatLength*, special*)) >
<!ATTLIST decimalFormats draft ( true | false ) #IMPLIED >
<!ATTLIST decimalFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT decimalFormatLength (alias | (default?, decimalFormat*, special*)) >
<!ATTLIST decimalFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST decimalFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST decimalFormatLength standard CDATA #IMPLIED >
<!ATTLIST decimalFormatLength references CDATA #IMPLIED >
<!ATTLIST decimalFormatLength alt CDATA #IMPLIED >
<!ATTLIST decimalFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT decimalFormat (alias | (pattern*, special*)) >
<!ATTLIST decimalFormat type NMTOKEN "standard" >
<!ATTLIST decimalFormat draft ( true | false ) #IMPLIED >
<!ATTLIST decimalFormat standard CDATA #IMPLIED >
<!ATTLIST decimalFormat references CDATA #IMPLIED >
<!ATTLIST decimalFormat alt CDATA #IMPLIED >
<!ATTLIST decimalFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT scientificFormats (alias | (default?, scientificFormatLength*, special*)) >
<!ATTLIST scientificFormats draft ( true | false ) #IMPLIED >
<!ATTLIST scientificFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT scientificFormatLength (alias | (default?, scientificFormat*, special*)) >
<!ATTLIST scientificFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST scientificFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST scientificFormatLength standard CDATA #IMPLIED >
<!ATTLIST scientificFormatLength references CDATA #IMPLIED >
<!ATTLIST scientificFormatLength alt CDATA #IMPLIED >
<!ATTLIST scientificFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT scientificFormat (alias | (pattern*, special*)) >
<!ATTLIST scientificFormat type NMTOKEN "standard" >
<!ATTLIST scientificFormat draft ( true | false ) #IMPLIED >
<!ATTLIST scientificFormat standard CDATA #IMPLIED >
<!ATTLIST scientificFormat references CDATA #IMPLIED >
<!ATTLIST scientificFormat alt CDATA #IMPLIED >
<!ATTLIST scientificFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT percentFormats (alias | (default?, percentFormatLength*, special*)) >
<!ATTLIST percentFormats draft ( true | false ) #IMPLIED >
<!ATTLIST percentFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT percentFormatLength (alias | (default?, percentFormat*, special*)) >
<!ATTLIST percentFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST percentFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST percentFormatLength standard CDATA #IMPLIED >
<!ATTLIST percentFormatLength references CDATA #IMPLIED >
<!ATTLIST percentFormatLength alt CDATA #IMPLIED >
<!ATTLIST percentFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT percentFormat (alias | (pattern*, special*)) >
<!ATTLIST percentFormat type NMTOKEN "standard" >
<!ATTLIST percentFormat draft ( true | false ) #IMPLIED >
<!ATTLIST percentFormat standard CDATA #IMPLIED >
<!ATTLIST percentFormat references CDATA #IMPLIED >
<!ATTLIST percentFormat alt CDATA #IMPLIED >
<!ATTLIST percentFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT currencyFormats (alias | (default?, currencyFormatLength*, special*)) >
<!ATTLIST currencyFormats draft ( true | false ) #IMPLIED >
<!ATTLIST currencyFormats validSubLocales CDATA #IMPLIED >

<!ELEMENT currencyFormatLength (alias | (default?, currencyFormat*, special*)) >
<!ATTLIST currencyFormatLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST currencyFormatLength draft ( true | false ) #IMPLIED >
<!ATTLIST currencyFormatLength standard CDATA #IMPLIED >
<!ATTLIST currencyFormatLength references CDATA #IMPLIED >
<!ATTLIST currencyFormatLength alt CDATA #IMPLIED >
<!ATTLIST currencyFormatLength validSubLocales CDATA #IMPLIED >

<!ELEMENT currencyFormat (alias | (pattern*, special*)) >
<!ATTLIST currencyFormat type NMTOKEN "standard" >
<!ATTLIST currencyFormat draft ( true | false ) #IMPLIED >
<!ATTLIST currencyFormat standard CDATA #IMPLIED >
<!ATTLIST currencyFormat references CDATA #IMPLIED >
<!ATTLIST currencyFormat alt CDATA #IMPLIED >
<!ATTLIST currencyFormat validSubLocales CDATA #IMPLIED >

<!ELEMENT currencies (alias | (default?, currency*, special*)) >
<!ATTLIST currencies draft ( true | false ) #IMPLIED >
<!ATTLIST currencies validSubLocales CDATA #IMPLIED >

<!ELEMENT currency (alias | (pattern*, displayName?, symbol?, pattern*, decimal?, group?, special*)) >
<!ATTLIST currency type NMTOKEN "standard" >
<!ATTLIST currency draft ( true | false ) #IMPLIED >
<!ATTLIST currency references CDATA #IMPLIED >
<!ATTLIST currency alt CDATA #IMPLIED >
<!ATTLIST currency validSubLocales CDATA #IMPLIED >

<!ELEMENT symbol ( #PCDATA ) >
<!ATTLIST symbol draft ( true | false ) #IMPLIED >
<!ATTLIST symbol references CDATA #IMPLIED >
<!ATTLIST symbol alt CDATA #IMPLIED >
<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT collations (alias | (default?, collation*, special*)) >
<!ATTLIST collations version NMTOKEN #IMPLIED >
<!ATTLIST collations draft ( true | false ) #IMPLIED >
<!ATTLIST collations validSubLocales CDATA #IMPLIED >

<!ELEMENT collation (alias | (base?, settings?, suppress_contractions?, optimize?, rules?, special*)) >
<!ATTLIST collation type NMTOKEN "standard" >
<!ATTLIST collation draft ( true | false ) #IMPLIED >
<!ATTLIST collation standard CDATA #IMPLIED >
<!ATTLIST collation references CDATA #IMPLIED >
<!ATTLIST collation alt CDATA #IMPLIED >
<!ATTLIST collation validSubLocales CDATA #IMPLIED >

<!ELEMENT base (alias|special) >

<!ELEMENT settings (special*) >
<!ATTLIST settings strength             ( primary | secondary | tertiary | quaternary | identical ) #IMPLIED >
<!ATTLIST settings alternate            ( non-ignorable | shifted ) #IMPLIED >
<!ATTLIST settings backwards            ( on | off)  #IMPLIED >
<!ATTLIST settings normalization        ( on | off ) #IMPLIED >
<!ATTLIST settings caseLevel            ( on | off ) #IMPLIED >
<!ATTLIST settings caseFirst            ( upper | lower | off ) #IMPLIED >
<!ATTLIST settings hiraganaQuarternary  ( on | off ) #IMPLIED >
<!ATTLIST settings numeric              ( on | off ) #IMPLIED >

<!ELEMENT suppress_contractions (  #PCDATA | cp )* >

<!ELEMENT optimize ( #PCDATA | cp )* >

<!ELEMENT rules (alias | ( reset, ( reset | p | pc |  s | sc | t | tc | q | qc | i | ic | x)* )) >

<!ELEMENT reset ( #PCDATA | cp  | first_variable| last_variable | first_tertiary_ignorable | last_tertiary_ignorable | first_secondary_ignorable | last_secondary_ignorable | first_primary_ignorable | last_primary_ignorable | first_non_ignorable | last_non_ignorable | first_trailing | last_trailing )* >
<!ATTLIST reset before NMTOKEN #IMPLIED >

<!ELEMENT p  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT pc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT s  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT sc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT t  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT tc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT q  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT qc ( #PCDATA  | cp | last_variable )* >

<!ELEMENT i  ( #PCDATA  | cp | last_variable )* >

<!ELEMENT ic ( #PCDATA  | cp | last_variable )* >

<!ELEMENT x (context?, (  p | pc |  s | sc | t | tc | q | qc | i | ic )*, extend? )  >

<!ELEMENT extend ( #PCDATA | cp )* >

<!ELEMENT context (  #PCDATA | cp )* >

<!ELEMENT first_variable EMPTY >
<!ELEMENT last_variable EMPTY >
<!ELEMENT first_tertiary_ignorable EMPTY >
<!ELEMENT last_tertiary_ignorable EMPTY >
<!ELEMENT first_secondary_ignorable EMPTY >
<!ELEMENT last_secondary_ignorable EMPTY >
<!ELEMENT first_primary_ignorable EMPTY >
<!ELEMENT last_primary_ignorable EMPTY >
<!ELEMENT first_non_ignorable EMPTY >
<!ELEMENT last_non_ignorable EMPTY >
<!ELEMENT first_trailing EMPTY >
<!ELEMENT last_trailing EMPTY >

<!ELEMENT posix (alias | (messages*, special*)) >
<!ATTLIST posix draft ( true | false ) #IMPLIED >

<!ELEMENT messages (alias | ( yesstr?, nostr?, yesexpr?, noexpr?)) >

<!ELEMENT yesstr ( #PCDATA ) >

<!ELEMENT nostr ( #PCDATA ) >

<!ELEMENT yesexpr ( #PCDATA ) >

<!ELEMENT noexpr ( #PCDATA ) >









